<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Home | E-Shopper</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/prettyPhoto.css" rel="stylesheet">
        <link href="/css/price-range.css" rel="stylesheet">
        <link href="/css/animate.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
        <link href="/css/responsive.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->       
        <link rel="shortcut icon" href="images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
		<style>
			.xzoom-thumbs img {
				display: inline-block;
				height: 80px;
				width: 80px;
				border: 1px solid #ccc;
			}
		
			.zoomed-image-container {
				display: none; /* Initially hide the container */
				position: absolute;
				top: 0;
				left: 100%; /* Position to the right of the main image */
				margin-left: 10px; /* Add some spacing */
				width: 80px; /* Adjust the width as needed */
			}
			.profile-photo {
				width: 150px; /* Adjust the width and height to your preference */
				height: 150px;
				border-radius: 50%; /* Makes the photo appear as a circle */
				overflow: hidden; /* Ensures the image is contained within the circle */
				border: 2px solid #fff; /* Add a white border around the photo if desired */
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a shadow to the photo */
			  }
			  
			  .profile-photo img {
				width: 100%;
				height: 100%;
				object-fit: contain; /* Ensures the image covers the entire circle */
			  }
			  .single-products {
				display: flex;
				justify-content: center; 
				align-items: center; 
			
			  }
			  .profile{
				display: flex;
			  }
			  .userDetails{
				width: 100%;
				margin-left: 80%;
			  }

			  /* Style for the modal container */
			  .modal {
				display: none; /* Hidden by default */
				position: fixed; /* Stay in place */
				z-index: 1; /* Sit on top */
				left: 0;
				top: 0;
				width: 100%; /* Full width */
				height: 100%; /* Full height */
				background-color: rgba(0, 0, 0, 0.7); /* Black with a little transparency */
			}
	
			/* Style for the modal content */
			.modal-content {
				background-color: #fefefe;
				margin: 15% auto; /* 15% from the top and centered */
				padding: 20px;
				border: 1px solid #888;
				width: 50%; /* Could be more or less, depending on screen size */
			}
	
			/* Style for the close button */
			.close {
				color: #aaa;
				float: right;
				font-size: 28px;
				font-weight: bold;
			}
	
			.close:hover,
			.close:focus {
				color: black;
				text-decoration: none;
				cursor: pointer;
			}
			.modal-style{
				display: flex;
			}
			.modal-text{
				display: flex;
				justify-content: center; 
				align-items: center;     
				width: 100%;             
				height: 100%;
				padding-top: 20%;
			}
		</style>
		


    </head><!--/head-->

<body>
	<header id="header"><!--header-->
	
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><img src="../images/home/logo.png" alt="" /></a>
						</div>
						
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="/getAccount"  class="active"><i class="fa fa-user"></i> Account</a></li>
								<li><a href="/getWishlist"><i class="fa fa-star"></i> Wishlist</a></li>
								<li><a href="/getCheckout"><i class="fa fa-crosshairs"></i> Checkout</a></li>
								<li><a href="/getCart"><i class="fa fa-shopping-cart"></i> Cart</a></li>
								<li>
									<form action="/logout" method="post">
										<button type="submit" class="btn btn-default">Logout</button>
								    </form>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/" >Home</a></li>
								<li><a href="/shop">Shop</a></li> 
							
								
								<li><a href="/contact">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3"><!-- Left Sidebar -->
					<div class="profile">
						<div class="product-image-wrapper">
							<div class="single-products align-item-center">
								<div class="productinfo text-center">
									<div class="profile-photo">
										<img src="/views/productImages/mastang.jpg" alt="" id="zoom-image">
									</div>
									<div class="panel-group category-products" id="accordian">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a href="#" id="openModalBtn">edit profile</a>
												</h4>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a href="/orders">Orders</a>
												</h4>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class ="panel-title">
													<a href="/showAddress">Show Address</a>
												</h4>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a href="/addAddress">Add Address</a>
												</h4>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a href="#" id="changePass">Change Password</a>
												</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	
				<div class="col-sm-4 text-center" ><!-- Right Content -->
					<div class="userDetails d-flex justify-content-center align-items-center text-center ">
						<div>
							
							<div class="form-one " style="width: 120%;">
								<h4 class="font-weight-bold"><%= userData.name %></h4>
								<ul>
									<li class="font-weight-normal"><b>Email:</b> <span><%= userData.email %></span></li>
									<li class="font-weight-normal"><b>Mobile Number:</b> <span><%= userData.number %></span></li>
									<li class="font-weight-normal"><b>Address:

										<% if(userData.currentAddress[0]){ %>

										</b> <%= userData.currentAddress[0].name %>,<%= userData.currentAddress[0].number %>,<%= userData.currentAddress[0].email%>,<%= userData.currentAddress[0].houseName%>,<%= userData.currentAddress[0].state%>,<%= userData.currentAddress[0].name %> ,<%= userData.currentAddress[0].city %>,<%= userData.currentAddress[0].street %>,<%= userData.currentAddress[0].pin %> <span></span></li>
										<%} else { %>
											<p>Add Address</p>
										<%} %>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="myModal" class="modal">
           <div class="modal-content">
                <span class="close" id="closeModalBtn">&times;</span>
				<div class="modal-style">
                    <div class="container">
						<h4 class="text text-center">Edit Profile</h4>
                         <div class="form-one" style="width: 100%;">
                            <form action="">
								<label for="">Name</label>
								<input type="text" name="name" value="<%= userData.name %>" id="name1">
								<label for="">mobile</label>
								<input type="text" name="number" id="number1" value="<%= userData.number %>"> 
								<label for="">Email</label>
								<input type="text" name="email" id="email1" value="<%= userData.email %>">
								<a href="#" class="btn btn-default update " id="updateBtn" onclick="updateBtn()">Update</a>
							</form>
						 </div>
						
					</div>
				</div>
		   </div>
		</div>


		<!-- updated modal -->
		<div id="updatedModal" class="modal">
             <div class="modal-content">
				  <span class="close" id="closeModalBtn2">&times;</span>
                  <div class="modal-style">
						<div class="container">
								<P><H5>Updated  Successful</H5></P>
						</div>
				  </div>
			 </div>
		</div>

		<!-- change Password modal -->
		
		<div id="psswordModal" class="modal">
			<div class="modal-content">
				 <span class="close" id="closeModalBtn3">&times;</span>
				 <div class="modal-style">
					 <div class="container">
						 <h4 class="text text-center">Change Password</h4>
						  <div class="form-one" style="width: 100%;">
							 <form action="">
								 <label for="">Current Password</label>
								 <input type="password" name="current" placeholder="Enter  current password" id="current">
								 <label for="">New Password </label>
								 <input type="password" name="new" id="new" placeholder="Enter new password "> 
								 <label for="">Conform password</label>
								 <input type="password" name="conform" id="conform" placeholder=" conform new password">
								 <a href="#" class="btn btn-default update " id="changePassBtn" onclick="ChangePassword()">Change</a>
							 </form>
						  </div>
						 
					 </div>
				 </div>
			</div>
		 </div>

		 <!-- password changed successfull modal -->
		 <div id="afterPassChange" class="modal">
			<div class="modal-content">
				 <span class="close" id="closeModalBtn4">&times;</span>
				 <div class="modal-style">
					   <div class="container">
							   <P id="para"><H5></H5></P>
					   </div>
				 </div>
			</div>
	   </div>
	</section>
	
	
	<footer id="footer"><!--Footer-->
		
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Get the most recent updates from <br />our site and be updated your self...</p>
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2013 BoysWorld Inc. All rights reserved.</p>
					
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->

    <script src="../js/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/jquery.scrollUp.min.js"></script>
	<script src="../js/price-range.js"></script>
    <script src="../js/jquery.prettyPhoto.js"></script>
    <script src="../js/main.js"></script>
	<script>
		var modal = document.getElementById('myModal');
		var modal2 = document.getElementById('updatedModal');
		var openModalBtn = document.getElementById("openModalBtn");
		var closeModalBtn = document.getElementById("closeModalBtn");

        //to open the modal
        openModalBtn.onclick = function(){
			modal.style.display = "block";
		}

		//to close the modal
		closeModalBtn.onclick = function(){
			modal.style.display = "none";
		}
         
		//close the modal if the user clicks the outside of it 
		window.onclick = function(event){
			if(event.target == modal){
				modal.style.display = "none";
			}
		}

	


	</script>



    <!-- update userdata -->
 
	<script>
		function updateBtn(){
			const name = document.getElementById("name1").value;
			const number = document.getElementById("number1").value;
			const email = document.getElementById("email1").value;
			
			//ajax req
			$.ajax({
				type: 'POST',
				url:'/updateProfileDetails',
				data:{
					name : name,
					email: email,
					number: number,
				},
				success: function(response){
					const modal2 = document.getElementById('updatedModal');
					modal.style.display = "none";
					modal2.style.display = "block";
				},
				error: function(error){
					console.error("error while updating user data ",error);
				}
			});

		}
	</script>

		<!-- modal2 -->
		<script>
			var modal2 = document.getElementById('updatedModal');
			var closeModalBtn = document.getElementById('closeModalBtn2');
	
			closeModalBtn2.onclick = function(){
				modal2.style.display = "none";
			}
	
			window.onclick = function(event){
				if(event.target == modal2){
					modal2.style.display = "none";
				}
			}
	
	
	
		</script>

		<!-- password modal -->
		<script>
			var modal3 = document.getElementById("psswordModal");
			
			var openModal3Btn = document.getElementById("changePass");
			var closeModal3Btn = document.getElementById("closeModalBtn3");

			  //to open the modal
			  openModal3Btn.onclick = function(){
				modal3.style.display = "block";
			}
	
			//to close the modal
			closeModalBtn3.onclick = function(){
				modal3.style.display = "none";
			}
			 
			//close the modal if the user clicks the outside of it 
			window.onclick = function(event){
				if(event.target == modal3){
					modal3.style.display = "none";
				}
			}
	
		</script>

	   <!-- change password req -->
	   <script>
		function ChangePassword(){

		
		    const currentPassword = document.getElementById("current").value;
			const newPassword = document.getElementById("new").value;
			const conformPassword = document.getElementById("conform").value;

			

				//ajax req
				$.ajax({
					type: 'POST',
					url:'/changePassword',
					data:{
						currentPassword: currentPassword,
						newPassword: newPassword,
						conformPassword:conformPassword,
					},
					success: function(response){
						var modal4 = document.getElementById('afterPassChange');
						var para = document.getElementById("para");
						para.innerHTML = '<p>' + response.message + '</p>';
						modal4.style.display = "block";
						
					},
					error: function(error){
						console.error("error while updating user data ",error);
					}
				});
		}
	   </script>

	   <script>
		      var modal3 = document.getElementById("psswordModal");
			  var closeModal3Btn = document.getElementById("closeModalBtn3");
		      var modal4 = document.getElementById("afterPassChange");
		      var closeModalBtn4 = document.getElementById("closeModalBtn4");

			  	//to close the modal
			closeModalBtn4.onclick = function(){
				
				modal4.style.display = "none";
				modal3.style.display = "none";
			}
			 
			//close the modal if the user clicks the outside of it 
			window.onclick = function(event){
				if(event.target == modal4){
					modal4.style.display = "none";
					modal3.style.display = "none";
				}
			}
	

	   </script>
</body>
</html>