<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cart | E-Shopper</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/price-range.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
   <style>
    .cart-quantity {
		display: flex;
		align-items: center;
	}
	
	.cart-quantity-button1 {
		padding: 5px 10px;
		background-color: #3498db;
		color: #fff;
		cursor: pointer;
	}

	.cart-quantity-button2 {
		padding: 5px 10px;
		background-color: #3498db;
		color: #fff;
		cursor: pointer;
	}
	
	.cart-quantity-value {
		padding: 5px 10px;
		border: 1px solid #ccc;
		text-align: center;
		min-width: 30px;
	}
	
	.cart-quantity-button:hover {
		background-color: #2980b9;
	}
	.cart_product img{
		object-fit: contain;
		
	}
</style>
</head><!--/head-->
<body>
	<header id="header"><!--header-->
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><img src="images/home/logo.png" alt="" /></a>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="/getAccount"><i class="fa fa-user"></i> Account</a></li>
								<!-- <li><a href="/getWishlist"><i class="fa fa-star"></i> Wishlist</a></li>
								<li><a href="/getcheckout"><i class="fa fa-crosshairs"></i> Checkout</a></li> -->
								<li><a href="/getCart" class="active"><i class="fa fa-shopping-cart"></i> Cart (<span id="cartCounter"><%=cart.length %></span>)</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/">Home</a></li>
								<li ><a href="/shop">Shop</i></a>
                                </li> 
								<li><a href="/contact">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
                           
						   <!-- hdghghdkjgh -->
						    <% for(let i = 0 ; i< cart.length ; i++){ %>
							<tr>
							<td class="cart_product">
									<a href=""><img src="views/productImages/<%= cart[i].product[0].image[0]%>" alt="" height="100px" width="100px"></a>
							</td>
							<td class="cart_description">
								<h4><a href=""><%=cart[i].product[0].productName%></a></h4>
								<p>Web ID: 1089772</p>
							</td>
							<td class="cart_price">
								<p  class="single-unit-price"  singleUnitPrice="<%=cart[i].product[0].price %>">₹<%=cart[i].product[0].price%></p>
							</td>
							<td class="cart_quantity">
								<div class="cart-quantity">
									<a class="cart-quantity-button1 "  data-productid="<%= cart[i].product[0]._id %>">+</a>
									<span class="cart-quantity-value" autocomplete="off" size="2"><%= cart[i].cart.quantity %></span>
									<a class="cart-quantity-button2" data-productid="<%= cart[i].product[0]._id %>">-</a>
								</div>
							</td>
							<td class="cart_total">
							     <p class="cart_total_price" total-Price="<%=cart[i].product[0].price %>">₹<%= cart[i].cart.total%></p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href="/cartItemDelete/<%= cart[i].product[0]._id %>"><i class="fa fa-times"></i></a>
							</td>
						</tr>
					<% } %>
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->
	<section id="do_action">
		<div class="container">
			<div class="row">
				<div class="col-sm-6"  style="width: 100%;">
					<div class="total_area">
						<ul>
							<h4 id="totalCartAmount">Total Amount: ₹ <%= cartTotal %></h4>

						</ul>
							<button id="checkoutBtn" class="btn btn-default check_out" href="#" onclick="checkout()">Check Out</a></button> 
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->

	<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
				</div>
			</div>
		</div>
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Get the most recent updates from <br />our site and be updated your self...</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
	


    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const incrementButtons = document.querySelectorAll(".cart-quantity-button1");
			const decrementButtons = document.querySelectorAll(".cart-quantity-button2");
			const quantityValues = document.querySelectorAll(".cart-quantity-value");
			const totalPrice  = document.querySelectorAll(".cart_total_price");
			const singlePrice = document.querySelectorAll(".single-unit-price");
			const cartTotalAmountElement = document.getElementById("cartTotalAmount");
			incrementButtons.forEach((incrementButton, i) => {
			  incrementButton.addEventListener("click", function (event) {
				event.preventDefault();
				const productId = this.getAttribute("data-productid");
				console.log("productId:",productId);
				updateQuantity(i, 1,productId);
			  });
			});
		  
			decrementButtons.forEach((decrementButton, i) => {
			  decrementButton.addEventListener("click", function (event) {
				event.preventDefault();
				const productId = this.getAttribute("data-productid");
				updateQuantity(i, -1,productId);
			  });
			});
		  
			function updateQuantity(index, change,productId) {
			  const currentQuantity = parseInt(quantityValues[index].innerText);
			  const total = parseFloat(totalPrice[index].getAttribute("total-Price"));
			  const singleUnitPrice = parseFloat(singlePrice[index].getAttribute("singleUnitPrice"));
			  const newQuantity = currentQuantity + change;
			  console.log("singlkeproductPrice:",singleUnitPrice);
			  console.log("currenrtQuantity",currentQuantity);
			  console.log("total",total);
			  console.log("newQuantity",newQuantity);
			   // Replace with actual product ID
			   if (newQuantity < 1) {
				newQuantity = 1;
			   } 
			 
			  fetch("/update-quantity", {
				method: "POST",
				headers: {
				  "Content-Type": "application/json",
				},
				body: JSON.stringify({ productId, newQuantity,currentQuantity,singleUnitPrice}),
			  })
				.then((response) => response.json())
				.then((data) => {
				  quantityValues[index].innerText = data.newQuantity;
				  totalPrice[index].innerText ="₹"+ data.newTotal;
                 document.getElementById("totalCartAmount").innerText = "Total Amount: ₹"+data.cartTotal;
				})
				.catch((error) => {
				  console.error("Error updating the quantity:", error);
				});
                  // Update the quantity and total in the DOM
            quantityValues[index].innerText = newQuantity;
            totalPrice[index].innerText = newTotal;

			}
		  });
		  
	</script>
	<script>
		function checkout(){
			const checkout = document.getElementById("checkoutBtn");
            const cart = <%-JSON.stringify(cart)%>;
			const totalAmount  = <%-JSON.stringify(cartTotal) %>;
			window.location.href = "/getCheckout2?cart=" + cart + "&totalAmount="+totalAmount ;
		}
	</script>
</body>
</html>