<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cart | E-Shopper</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/price-range.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
   <style>
    .cart-quantity {
		display: flex;
		align-items: center;
	}
	
	.cart-quantity-button1 {
		padding: 5px 10px;
		background-color: #3498db;
		color: #fff;
		cursor: pointer;
	}

	.cart-quantity-button2 {
		padding: 5px 10px;
		background-color: #3498db;
		color: #fff;
		cursor: pointer;
	}
	
	.cart-quantity-value {
		padding: 5px 10px;
		border: 1px solid #ccc;
		text-align: center;
		min-width: 30px;
	}
	
	.cart-quantity-button:hover {
		background-color: #2980b9;
	}
	.cart_product img{
		object-fit: contain;
		
	}
	.error-message {
		color: red;
		display: none;
	}
	.productDetails p {
		margin: 0;

	}
	#offer {
		display: none;
	}
	input[type="checkbox"] {
		opacity: 0;
	}

</style>
</head><!--/head-->
<body>
	<header id="header"><!--header-->
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><img src="images/home/logo.png" alt="" /></a>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="/getAccount"><i class="fa fa-user"></i> Account</a></li>
								<!-- <li><a href="/getWishlist"><i class="fa fa-star"></i> Wishlist</a></li>
								<li><a href="/getcheckout"><i class="fa fa-crosshairs"></i> Checkout</a></li> -->
								<li><a href="/getCart" class="active"><i class="fa fa-shopping-cart"></i> Cart (<span id="cartCounter"><%=cart.length %></span>)</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/">Home</a></li>
								<li ><a href="/shop">Shop</i></a>
                                </li> 
								<li><a href="/contact">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
                        <% if(cart.length != 0) { %> 
						   <!-- hdghghdkjgh -->
						    <% for(let i = 0 ; i< cart.length ; i++){ %>
							<tr class="cartBox">
							<td class="cart_product">
									<a href=""><img src="views/productImages/<%= cart[i].product[0].image[0]%>" alt="" height="100px" width="100px"></a>
							</td>
							<td class="productDetails" >
								<h4><a href=""><%=cart[i].product[0].name%></a></h4>

								<% let categoryOffer = cart[i].categoryDetails[0].offer %>
								<% let offerPrice = cart[i].product[0].offerPrice %>
								<% let productPrice = cart[i].product[0].price %>
								<% let totalOffer =  cart[i].product[0].offer  + categoryOffer %>
								<% let newPrice = productPrice - ((totalOffer/100)*productPrice) %>



						        <% if (categoryOffer != 0){ %>


									<% if(newPrice < 0){ %>
										<% newPrice = 0 %>
									<% } %>

									<input type="checkbox" id="offer<%= cart[i].product[0]._id %>" class="hidecontent"/>
									<label for="offer<%= cart[i].product[0]._id %>" style="color: #FFA500;">(<%= cart[i].product[0].offer + categoryOffer%>% off)</label>
									<div id="content2<%= cart[i].product[0]._id %>" class="hidecontent"><h6>	<%= cart[i].product[0].offer %> % product offer </h6></div>
									<div id="content3<%= cart[i].product[0]._id %>" class="hidecontent"><h6>	<%= categoryOffer%>% category offer</h6></div>


									<h5><del>₹<%= cart[i].product[0].price %></del></h5>
									<h5><b>₹<%= newPrice %></b></h5>
								<% } else{ %>
						
										<% if(cart[i].product[0].offer > 0){ %>
											<h6 style="color: #FFA500;">(<%=cart[i].product[0].offer%>% off)</h6>
											<h5><del>₹<%= cart[i].product[0].price %></del></h5>
											<h5><b>₹<%= cart[i].product[0].offerPrice %></b></h5>
										<% } else{ %>
											<h6>(No Offer Available)</h6>
											<h5>₹<%cart[i].product[0].price%></h5>
										<% } %>
								<% } %>
                         
								
								



								<% if (cart[i].cart.size == "sizeSmall"){ %>
									<p>Size : S</p>
									
								<% }else if(cart[i].cart.size == "sizeMedium"){ %>
									<p>Size : M</p>
								<%}else if(cart[i].cart.size == "sizeLarge"){ %>
									<p>Size: L</p>
								<% } %>
								<p><h5 style="color: red;" class="out"></h5></p>
								<!-- <p id="stockDetails"> <%= cart[i].product[0].stock.sizeSmall.stock%> Stocks left</p> -->
								<h5 class="error-message" style="color: red;"></h5>

							</td>
							<td class="cart_price">
								<% if(newPrice != 0){ %>
									<p  class="single-unit-price"  singleUnitPrice="<%=newPrice %>">₹<%=newPrice%></p>
								 <%}else{ %>
									<p  class="single-unit-price"  singleUnitPrice="<%=cart[i].product[0].offerPrice %>">₹<%=cart[i].product[0].offerPrice%></p>
								<%} %>
							</td>
							<td class="cart_quantity">
								<% let currentStock = "" %>
								<% if(cart[i].cart){ %>
								<%	if(cart[i].cart.size == "sizeSmall"){ %>

									<%currentStock = cart[i].product[0].stock.sizeSmall.stock; %>

								<%}else if(cart[i].cart.size == "sizeMedium"){ %>

									<%currentStock = cart[i].product[0].stock.sizeMedium.stock; %>

								<%}else if(cart[i].cart.size == "sizeLarge"){ %>

									<%currentStock = cart[i].product[0].stock.sizeLarge.stock; %>

								<%}%>
							   <% } %>
								<div class="cart-quantity">
									<a class="cart-quantity-button2" id="decBtn" data-productid="<%= cart[i].product[0]._id %>"  size="<%= cart[i].cart.size %>">-</a>
									<span class="cart-quantity-value" autocomplete="off" size="2"><%= cart[i].cart.quantity %></span>
									<a class="cart-quantity-button1 " id="incBtn"  data-productid="<%= cart[i].product[0]._id %>" stock="<%=currentStock %>"  size="<%= cart[i].cart.size %>">+</a>

								</div>
							</td>
							<td class="cart_total">
								<% if(newPrice != 0){ %>
									<p class="cart_total_price" total-Price="<%=newPrice%>"><%= cart[i].cart.quantity %> X <%=newPrice%> = ₹<%= newPrice%> </p>
								 <%}else{ %>
									<p class="cart_total_price" total-Price="<%=cart[i].product[0].price %>"><%= cart[i].cart.quantity %> X <%=cart[i].product[0].offerPrice%> = ₹<%= cart[i].cart.total%> </p>
								<%} %>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href="/cartItemDelete/<%= cart[i].product[0]._id %>"><i class="fa fa-times"></i></a>
							</td>
						</tr>
					     <% } %>
						<% } else { %>
                              <h4>No item in the Cart</h4>
						<% } %>
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->
	<section id="do_action">
		<div class="container">
			<div class="row">
				<div class="col-sm-6"  style="width: 100%;">
					<div class="total_area">
						<ul>
							<h4 id="totalCartAmount">Total Amount: ₹ <%= cartTotal %></h4>

						</ul>
							<button id="checkoutBtn" class="btn btn-default check_out" href="#" onclick="checkout()">Check Out</a></button> 
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->

	<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
				</div>
			</div>
		</div>
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Get the most recent updates from <br />our site and be updated your self...</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
	


    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const incrementButtons = document.querySelectorAll(".cart-quantity-button1");
			const decrementButtons = document.querySelectorAll(".cart-quantity-button2");
			const quantityValues = document.querySelectorAll(".cart-quantity-value");
			const totalPrice  = document.querySelectorAll(".cart_total_price");
			const singlePrice = document.querySelectorAll(".single-unit-price");
			const cartTotalAmountElement = document.getElementById("cartTotalAmount");
			const errorMessage = document.querySelectorAll(".error-message"); 

			incrementButtons.forEach((incrementButton, i) => {
			  incrementButton.addEventListener("click", function (event) {
				event.preventDefault();
				const currentQuantity = parseInt(quantityValues[i].innerText);
				console.log("currentQuantity value",currentQuantity);
				const productId = this.getAttribute("data-productid");
				const size = this.getAttribute("size");
				const stock = this .getAttribute("stock");
				console.log("stock:",stock);
				console.log("size:",size);
				console.log("productId:",productId);
				if(currentQuantity < stock){
					updateQuantity(i, 1,productId,size);
				}else{
                    errorMessage[i].innerText = "Stock limit exceed !!";
					errorMessage[i].style.display = "block";
					setTimeout(function(){
						errorMessage[i].style.display = "none";
					},3000);
				}
			  });
			});
		  
			decrementButtons.forEach((decrementButton, i) => {
			  decrementButton.addEventListener("click", function (event) {
				event.preventDefault();
				const productId = this.getAttribute("data-productid");
				const size = this.getAttribute("size");
				updateQuantity(i, -1,productId,size);
			  });
			});
		  
			function updateQuantity(index, change,productId,size) {
			  const currentQuantity = parseInt(quantityValues[index].innerText);
			  const total = parseFloat(totalPrice[index].getAttribute("total-Price"));
			  const singleUnitPrice = parseFloat(singlePrice[index].getAttribute("singleUnitPrice"));
			  let newQuantity = currentQuantity + change;
			  console.log("singlkeproductPrice:",singleUnitPrice);
			  console.log("currenrtQuantity",currentQuantity);
			  console.log("total",total);
			  console.log("newQuantity",newQuantity);
			   // Replace with actual product ID
			   if (newQuantity < 1) {
				newQuantity = 1;
			   } 
			 
			  fetch("/update-quantity", {
				method: "POST",
				headers: {
				  "Content-Type": "application/json",
				},
				body: JSON.stringify({ productId, newQuantity,currentQuantity,singleUnitPrice,size}),
			  })
				.then((response) => response.json())
				.then((data) => {
				  console.log("cartTotal:",data.cartTotal);
				  quantityValues[index].innerText = data.newQuantity;
				  totalPrice[index].innerText = newQuantity + " X " + singleUnitPrice+" = "+  "₹"+ data.newTotal;
                 document.getElementById("totalCartAmount").innerText = "Total Amount: ₹"+data.cartTotal;
				})
				.catch((error) => {
				  console.error("Error updating the quantity:", error);
				});
                  // Update the quantity and total in the DOM
            quantityValues[index].innerText = newQuantity;
            totalPrice[index].innerText = newTotal;

			}
		  });
		  
	</script>
	<script>
		function checkout(){
			const checkout = document.getElementById("checkoutBtn");
            const cart = <%-JSON.stringify(cart)%>;
			const totalAmount  = <%-JSON.stringify(cartTotal) %>;
			console.log("totalamount:",totalAmount);
			window.location.href = "/getCheckout2?cart=" + cart + "&totalAmount="+totalAmount ;
		}
	</script>

	<!-- disable the cart when the stock is 0  -->
	<script>
		document.addEventListener("DOMContentLoaded",function(){
			const cartBody = document.querySelectorAll(".cartBox");
			const cart = <%-JSON.stringify(cart)%>;
		
			cartBody.forEach((cartBody,i)=>{
				const currentSize = cart[i].cart.size;
			
				if(cart[i].product[0].stock[currentSize].stock == 0){
					console.log("yesssss");
					cartBody.style.opacity = "0.5";
					const quantityButtons = cartBody.querySelectorAll(".cart-quantity-button1, .cart-quantity-button2");
					quantityButtons.forEach((button) => {
						button.disabled = true;
					});
                    
					const deleteButton = cartBody.querySelector(".cart_quantity_delete");
					deleteButton.disabled = false;
					const message = cartBody.querySelector(".cartBox .out");
					message.innerText = "Out Of Stock!!";
					
				}
			 })
		})
	</script>

</body>
</html>