<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Checkout | E-Shopper</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	<style>
		.error-message {
            color: red;
            display: none;
        }
	</style>
	<style>

		.modal {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		.modal-content {
			width: 80%;
			max-width: 800px;
		}
		
		.address-box {
			border: 1px solid #ccc;
			margin-bottom: 10px;
			padding: 10px;
			display: flex;
			justify-content: space-between;
		}
		
		.address-info {
			width: 70%;
		}
		
		.actions {
			display: flex;
			flex-direction: column;
		}
		
		.actions a {
			margin-top: 5px;
		}
		
		.delete {
			color: red; /* Customize delete link color */
		}
		
		.form-one {
			display: flex;
			flex-direction: column;
			gap: 10px;
			width: 100%;
			padding: 20px;
			border: 1px solid #ccc;
			border-radius: 5px;
			box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
		 }
		 
		 .form-one input {
			padding: 10px;
			border-radius: 5px;
			border: 1px solid #ccc;
		 }
		 
		 .form-one button {
			padding: 10px 20px;
			background-color: #007BFF;
			color: white;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		 }
		 
		 .form-one button:hover {
			background-color: #0056b3;
		 }
		 
		
		.a-box {
			display: block;
			border-radius: 8px;
			background-color: #fff;
			border: 1px #D5D9D9 solid;
			padding-left: 30px;
			
		}
		.box-sub{
			display: flex;
			flex-wrap: wrap;
			position: relative;
			box-sizing: border-box;
			padding-left: 0%;
			float: left;
			border-radius: 8px;
			background-color: #fff;
			margin-top: 15px;
			width: 97%;

		}
		.box-sub p{
			font-weight: 700!important;
		}
		.cash{
			padding-top: 2px;
			padding-left: 15px;
		}
		.highlighted {
            background-color: #f2f2f2; /* Light background color */
            border: 1px solid #ccc; /* Border style */
        }
		.box-sub input[type="radio"]:disabled + .cash {
			opacity: 0.3; /* Adjust the opacity value as needed */
		  }

		.content{
			display: flex;
			margin: 10px 10px 10px 10px;
		}
		.photo{
			
		}
		.photo img{
			height: 200px;
			width: 200px;
		}
		.discription{
			margin-left: 25px;
		}


		/* Style for the modal container */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            background-color: rgba(0, 0, 0, 0.7); /* Black with a little transparency */
        }

        /* Style for the modal content */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 50%; /* Could be more or less, depending on screen size */
        }

        /* Style for the close button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
		.modal-style{
			display: flex;
		}
		.modal-text{
			display: flex;
			justify-content: center; 
			align-items: center;     
			width: 100%;             
			height: 100%;
			padding-top: 20%;
		}
		
	</style>

	<!-- modal for order place -->

	<style>
		/* Style for the payment success modal */
		#paymentSuccessModal {
			display: none;
			position: fixed;
			z-index: 1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
		}
	
		#paymentSuccessModalContent {
			background-color: #fefefe;
			margin: 15% auto;
			padding: 20px;
			border: 1px solid #888;
			width: 50%;
		}
	
		#paymentSuccessModalClose {
			color: #aaa;
			float: right;
			font-size: 28px;
			font-weight: bold;
			cursor: pointer;
		}
	
		#paymentSuccessModalClose:hover,
		#paymentSuccessModalClose:focus {
			color: black;
			text-decoration: none;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head><!--/head-->
<body>
	<header id="header"><!--header-->

		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><img src="images/home/logo.png" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	    <div class="title text-center">
               <h2>Checkout</h2>
		</div>
	</header><!--/header-->

<section>
	<div class="container">
		<form action="">
		<table class="table  table-condensed">
           <thead>
			<tr>
				<td>
					<h4>1</h4>
				</td>
				<td>
					<h4 class="title ">Delevery Address</h4>
				</td>
				<td>
					<h4>adddress</h4>
				</td>
				<td>
					<button class="btn btn-default"  id="openModalBtn" style="background-color: rgb(238, 203, 5);">Change</button>
					<button class="btn btn-default"  id="addAddressBtn" style="background-color: rgb(238, 203, 5);">Add Address</button>
				</td>
			</tr>
		   </thead>
		   <tbody>


			<div id="addressModal" class="modal">
				<div class="modal-content">
					 <span class="close" id="addressCloseModalBtn">&times;</span>
					 <div class="modal-style">
						 <div class="container" >
							 <h4 class="text text-center">Add Address</h4>
							 <br>
							 <div class="error-message" id="error-message"></div>
							<br>
							 <div class="form-one" style="width: 100%;">
								<form action="" method="post" >
									<input type="text" placeholder="Name" name="name" id="name">
									 <input type="text" placeholder="Number" name="number" id="number">
									 <input type="text" placeholder="Email" name="email" id="email">
									 <input type="text" placeholder="House Name" name="houseName" id="houseName">
									 <input type="text" placeholder="House Number" name="houseNumber" id="houseNumber">
									 <input type="text" placeholder="State" name="state" id="state">
									 <input type="text" placeholder="city" name="city" id="city">
									 <input type="text" placeholder="street" name="street" id="street">
									 <input type="text" placeholder="Landmark" name="landmark" id="landmark">
									 <input type="text" placeholder="Pin Code" name="pin" id="pin">
									 <button type="submit" class="btn btn-default update"  id="addressSubmit">Add</button>
									
								 </form>
							 </div>
						 </div>
					 </div>
				</div>
			 </div>
			<% for(let i = 0 ;i< currentAddress.length;i++) {%>

				<tr>
					<td>
					</td>
					<td>
					</td>
					<td >
						<h4 id="selectedAddressName"><%= currentAddress[0].name %></h4>
						<h5 id="selectedAddressNumber">Mobile number: <%= currentAddress[0].number %></h5>
						<h5 id="selectedAddressHouseName">House Name: <%= currentAddress[0].houseName %></h5>
						<h5 id="selectedAddressHouseNumber">House Number: <%= currentAddress[0].houseNumber %></h5>
						<h5 id="selectedAddressState">State: <%= currentAddress[0].state %></h5>
						<h5 id="selectedAddressCity">City: <%= currentAddress[0].city %></h5>
						<h5 id="selectedAddressStreet">Street: <%= currentAddress[0].street %></h5>
						<h5 id="selectedAddressLandMark">LandMark: <%= currentAddress[0].landMark %></h5>
						<h5 id="selectedAddressPinCode">Pin Code: <%= currentAddress[0].pin %></h5>
							<% break %>
			        </td>
				</tr>
				<% } %>
				<thead>
					<tr>
						<td>
							<h4>2</h4>
						</td>
						<td>
							<h4 class="title ">Select a payment method</h4>
						</td>
						<td>
						</td>
						<td>
						</td>
					</tr>
				   </thead>
		   </tbody>
	    </table>
	    
		<div class="a-box">

			<div class="row">
				<div class="box-sub">
					<div>
						<input type="radio" name="checkout" value="online-payment" >
					</div>
					<div class="cash">
						<p>Online Payment</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="box-sub">
					<div>
						<input type="radio" name="checkout" value="cash-on-delivery">
					</div>
					<div class="cash">
						<p>Cash on Deleivery</p>
					</div>
				</div>
			</div>
			   
		</div>
        <table class="table  table-condensed"
		<thead>
			<tr>
				<td>
					<h4>3</h4>
				</td>
				<td>
					<h4 class="title ">Rivew item and Delevery</h4>
				</td>
				<td>
				</td>
				<td>
				</td>
			</tr>
		   </thead>

		   
          </table>
	</form>

	<% if(cartDetails){%>
		<% for(let i=0;i<cartDetails.length;i++){ %>
		                                        %>

		<div class="a-box">
		   <div class="content">
				   <div class="photo">
					 <img src="/views/productImages/<%=cartDetails[i].productDetail[0].image[0]%>" alt="">
				   </div>
				   <div class="discription">
					  <h5><%=cartDetails[i].productDetail[0].name%></h5>
					  <h5><%=cartDetails[i].productDetail[0].discription%></h5>
					  <h5>₹<%=cartDetails[i].productDetail[0].price%></h5>
					  <h5>Qty:<%=cartDetails[i].cart.quantity%></h5>
					  
					  <% let currentSize = cartDetails[i].cart.size %>
					  <% let displaySize = cartDetails[i].cart.size %>
					  <%  if(currentSize == "sizeSmall"){           %>
					             <h5>Size : S </h5>           
					  <%  } else if(currentSize == "sizeMedium"){   %>
						        <h5>Size : M </h5>                  
					  <%  } else if(currentSize == "sizeLarge"){    %>
				                <h5>Size : L </h5>               
					  <%  }                                         %>

					  <h5>Order Total :₹<%=cartDetails[i].cart.total%></h5>
				   </div>
		   </div>
		</div>
	    <% } %>
		<% } %>
	
		<div class="a-box text-center" >
			<div>
                <ul>
                    <li>Cart Sub Total <span id="cartTotalAmount" totalAmount="<%=totalAmount%>"> ₹<%=totalAmount%></span></li>
                </ul>
				<Button class="btn btn-default place-order" onclick="placeOrder()">Place your order</Button>
			</div>
		</div>
    </div>


    <div id="paymentSuccessModal" class="modal2">
		<div id="paymentSuccessModalContent" class="modal-content2">
			<div class="modal-style">
				<div class="modal-text">
					<p>Order Successful!</p>
				</div>
			</div>
		</div>
	</div>

	<!-- modal last for select payment warning -->
	<div id="selectPaymentWarnning" class="modal">
		<div id="selectModalContent" class="modal-content">
			<span id="selectPaymentModalClose" class="close">&times;</span>
			<div class="modal-style">
				<div class="modal-text">
					<p>Select a payment method</p>
				
				</div>
			</div>
		</div>
	</div>
</section>
	<footer id="footer">
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Get the most recent updates from <br />our site and be updated your self...</p>
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2013 BoysWorld Inc. All rights reserved.</p>
					
				</div>
			</div>
		</div>
		
	</footer>


	<!-- modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModalBtn">&times;</span>
        <div class="modal-style">
            <div class="container">
                <% for(let i = 0; i < address.length; i++) { %>
                <div class="address-box">
                    <div class="address-info">
                        <h5><%= address[i].name %>,</h5>
                        <h5><%= address[i].number %>,</h5>
                        <h5><%= address[i].houseName %>,</h5>
                        <h5><%= address[i].houseNumber %></h5>
                        <h5><%= address[i].state %>,</h5>
                        <h5><%= address[i].city %>,</h5>
                        <h5><%= address[i].street %>,</h5>
                        <h5><%= address[i].landMark %></h5>
                        <h5><%= address[i].pin %>,</h5>
                    </div>
                    <div class="actions">
                        <a href="#" id="openModalbtn2" AddressId="<%= address[i]._id %>" class="selected">Edit</a>
						<a href="/setDefaultAddressFromCheckout2?addressId=<%= encodeURIComponent(address[i]._id) %>&address=<%= encodeURIComponent(JSON.stringify(address)) %>&currentAddress=<%= encodeURIComponent(JSON.stringify(currentAddress)) %>&cartDetail=<%= encodeURIComponent(JSON.stringify(cartDetails)) %>&totalAmount=<%= encodeURIComponent(totalAmount) %>">Set as Default</a>
                        <a href="/addressDelete/<%= address[i]._id %>" class="delete">Delete</a>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>


    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>

	
	<script>
         		
		document.addEventListener("DOMContentLoaded",function(){
			 const submitBtn = document.getElementById("addressSubmit");
			 
			 const errorMessage = document.getElementById("error-message");
			 const phonePattern = /^(?=.*[1-9])\d{10}$/;
 
			 submitBtn.addEventListener("click",function(event){
				 event.preventDefault();
 
					 const name = document.getElementById("name").value;
					 const number = document.getElementById("number").value;
					 const email= document.getElementById("email").value;
					 const houseName = document.getElementById("houseName").value;
					 const houseNumber = document.getElementById("houseNumber").value;
					 const state = document.getElementById("state").value;
					 const city = document.getElementById("city").value;
					 const street = document.getElementById("street").value;
					 const landmark = document.getElementById("landmark").value;
					 const pin= document.getElementById("pin").value;
 
					 const address = <%- JSON.stringify(address)%>;
					 const currentAddress = <%- JSON.stringify(currentAddress)%>;
					 const cartDetails = <%-JSON.stringify(cartDetails)%>;
					 const totalAmount = <%- JSON.stringify(totalAmount)%>;
 
 
 
					 function isValidEmail(email) {
						 // Regular expression for a simple email validation
						 const emailRegex = /^[^\s@]+@gmail\.com$/;
						 return emailRegex.test(email);
					 }
					 function checkWhiteSpace(s){
						 return s.trim() === "";
					 }
 
						 if (name==='' && number===""  && email===""  && houseName===""  && state===""  && city==="" && street===""  && landmark==="" && pin==="" ) {
							 errorMessage.innerText = "Please fill in all the fields.";
							 errorMessage.style.display = "block";
							 // Hide the error message after 3 seconds
							 setTimeout(function () {
								 errorMessage.style.display = "none";
							 }, 3000);
							 return false;
						 }
 
						 if(name === ""){
							 errorMessage.innerText = "Please enter Name";
							 errorMessage.style.display = "block";
							 // Hide the error message after 3 seconds
							 setTimeout(function () {
								 errorMessage.style.display = "none";
							 }, 3000);
							 return false;
						 }
 
						 if(checkWhiteSpace(name)){
							 errorMessage.innerText ="please enter your name";
							 errorMessage.style.display = "block";
							 setTimeout(function () {
							 errorMessage.style.display = "none";
							 }, 3000);
							 return false;
						 }
 
						 if(number === ""){
							 errorMessage.innerText = "Please enter your number";
							 errorMessage.style.display = "block";
							 // Hide the error message after 3 seconds
							 setTimeout(function () {
								 errorMessage.style.display = "none";
							 }, 3000);
							 return false;
						 }
 
						 if(number <= 0){
							 errorMessage.innerText = "Please enter valid Phone Number";
							 errorMessage.style.display = "block";
							 // Hide the error message after 3 seconds
							 setTimeout(function () {
								 errorMessage.style.display = "none";
							 }, 3000);
							 return false;
						 }
 
						 if(checkWhiteSpace(number)){
							 errorMessage.innerText ="please enter your number";
							 errorMessage.style.display = "block";
							 setTimeout(function () {
							 errorMessage.style.display = "none";
							 }, 3000);
							 return false;
						 }
 
						 if(!phonePattern.test(number)){
							 errorMessage.innerText = "please enter a valid phone  number.";
							 errorMessage.style.display = "block";
							 setTimeout(function () {
								 errorMessage.style.display = "none";
							 }, 3000);
							 return false;
						 }
 
						 if(email === ""){
							 errorMessage.innerText = "please your email address";
							 errorMessage.style.display = "block";
							 setTimeout(function () {
								 errorMessage.style.display = "none";
							 }, 3000);
 
							 return false;
						 }
 
						 if (!isValidEmail(email)) {
							 errorMessage.innerText = "Please enter a valid email address";
							 errorMessage.style.display = "block";
					 
							 setTimeout(function () {
								 errorMessage.style.display = "none";
							 }, 3000);
							 return false;
						 }
			 
						 if(houseName === ""){
							 errorMessage.innerText = "Please enter your House Name";
							 errorMessage.style.display = "block";
 
							 // Hide the error message after 3 seconds
							 setTimeout(function () {
								 errorMessage.style.display = "none";
							 }, 3000);
							 return false;
						 }
 
						 if(checkWhiteSpace(houseName)){
							 errorMessage.innerText ="please enter your House Name";
							 errorMessage.style.display = "block";
							 setTimeout(function () {
							 errorMessage.style.display = "none";
							 }, 3000);
							 return false;
						 }
 
						 if( houseNumber === ""){
							 errorMessage.innerText = "Please enter your house number";
							 errorMessage.style.display = "block";
 
							 // Hide the error message after 3 seconds
							 setTimeout(function () {
								 errorMessage.style.display = "none";
							 }, 3000);
							 return false;
						 }
						 if(checkWhiteSpace(houseNumber)){
							 errorMessage.innerText ="please enter your House Number";
							 errorMessage.style.display = "block";
							 setTimeout(function () {
							 errorMessage.style.display = "none";
							 }, 3000);
							 return false;
						 }
 
						 if(state === ""){
							 errorMessage.innerText = "Please enter your State";
							 errorMessage.style.display = "block";
 
							 // Hide the error message after 3 seconds
							 setTimeout(function () {
								 errorMessage.style.display = "none";
							 }, 3000);
							 return false;
						 }
 
						 if(checkWhiteSpace(state)){
							 errorMessage.innerText ="please enter your state";
							 errorMessage.style.display = "block";
							 setTimeout(function () {
							 errorMessage.style.display = "none";
							 }, 3000);
							 return false;
						 }
 
						 if(city === ""){
							 errorMessage.innerText = "Please enter your city";
							 errorMessage.style.display = "block";
 
							 // Hide the error message after 3 seconds
							 setTimeout(function () {
								 errorMessage.style.display = "none";
							 }, 3000);
							 return false;
						 }
 
						 if(checkWhiteSpace(city)){
							 errorMessage.innerText ="please enter your city";
							 errorMessage.style.display = "block";
							 setTimeout(function () {
							 errorMessage.style.display = "none";
							 }, 3000);
							 return false;
						 }
 
						 if(street === ""){
							 errorMessage.innerText = "Please enter your street";
							 errorMessage.style.display = "block";
 
							 // Hide the error message after 3 seconds
							 setTimeout(function () {
								 errorMessage.style.display = "none";
							 }, 3000);
							 return false;
						 }
 
						 if(checkWhiteSpace(street)){
							 errorMessage.innerText ="please enter your street";
							 errorMessage.style.display = "block";
							 setTimeout(function () {
							 errorMessage.style.display = "none";
							 }, 3000);
							 return false;
						 }
 
						 if(landmark === ""){
							 errorMessage.innerText = "Please enter your Land Mark";
							 errorMessage.style.display = "block";
 
							 // Hide the error message after 3 seconds
							 setTimeout(function () {
								 errorMessage.style.display = "none";
							 }, 3000);
							 return false;
						 }
						 if(checkWhiteSpace(landmark)){
							 errorMessage.innerText ="please enter your landmark";
							 errorMessage.style.display = "block";
							 setTimeout(function () {
							 errorMessage.style.display = "none";
							 }, 3000);
							 return false;
						 }
 
						 if(pin === ""){
							 errorMessage.innerText = "Please enter your pincode";
							 errorMessage.style.display = "block";
 
							 // Hide the error message after 3 seconds
							 setTimeout(function () {
								 errorMessage.style.display = "none";
							 }, 3000);
							 return false;
						 }
 
						 if(checkWhiteSpace(pin)){
							 errorMessage.innerText ="please enter your pin";
							 errorMessage.style.display = "block";
							 setTimeout(function () {
							 errorMessage.style.display = "none";
							 }, 3000);
							 return false;
						 }
						 
 
 
						 $.ajax({
							  type: 'POST',
							  url:'/addAddressFromCheckout2',
							  data:{
								 name,number,email,houseName,houseNumber,state,city,street,landmark,pin,address,cartDetails,currentAddress,totalAmount, 
							  },
							  success: function(response){
								 if(response){
									 console.log("message reached in frontend");
									 const address = JSON.stringify(response.address);
									 const currentAddress = JSON.stringify(response.currentAddress);
									 const totalAmount = response.totalAmount;
									 const cartDetails= JSON.stringify(response.cartDetails);
									 window.location.href = "/getCheckout2?address="+address+"&cartDetails="+cartDetails+"&currentAddress="+currentAddress+"&totalAmount="+totalAmount ;
								 }
							  },
							  error:function(error){
								 console.error("error while getting the data from addAddressFromCheckout:",error);
 
							  }
						 });
					 
			 })
		})
	 </script>
	<script>
        // Add a JavaScript function to handle the radio button click event
        document.addEventListener("DOMContentLoaded", function () {
            const radioButtons = document.querySelectorAll("input[type='radio']");
            const boxSubs = document.querySelectorAll(".box-sub");

            for (let i = 0; i < radioButtons.length; i++) {
                radioButtons[i].addEventListener("click", function () {
                    // Remove the 'highlighted' class from all box-subs
                    for (let j = 0; j < boxSubs.length; j++) {
                        boxSubs[j].classList.remove("highlighted");
                    }

                    // Add the 'highlighted' class to the selected box-sub
                    boxSubs[i].classList.add("highlighted");
                });
            }
        });
    </script>
	<script>
		// Get references to the modal and the button to open/close it
		var modal = document.getElementById("myModal");
		var addressModal = document.getElementById("addressModal")
		var addressModalBtn = document.getElementById("addAddressBtn");
		var openModalBtn = document.getElementById("openModalBtn");
		var closeModalBtn = document.getElementById("closeModalBtn");
		var addressCloseModalBtn = document.getElementById("addressCloseModalBtn");
	
		// Event listener to open the modal
		openModalBtn.onclick = function(event) {
			event.preventDefault();
			modal.style.display = "block";
		}
	    
		//event listner to open address modal
		addressModalBtn .onclick = function(event){
			event.preventDefault();
			addressModal.style.display = "block";
		}

		// Event listener to close the modal
		closeModalBtn.onclick = function() {
			modal.style.display = "none";
		}
	
		// Event listener to close the addressModal
		addressCloseModalBtn.onclick = function() {
			addressModal.style.display = "none";
		}
	</script>

	<script>
		// Function to get product details from the cookie
		function getProductDetailsFromCookie() {
			const cookieValue = document.cookie
				.split('; ')
				.find(row => row.startsWith('productDetails='))
				?.split('=')[1];
	
			return cookieValue ? JSON.parse(decodeURIComponent(cookieValue)) : null;
		}
	
		// Example usage
		document.addEventListener('DOMContentLoaded', function () {
			// Call the function to get product details from the cookie
			const productDetails = getProductDetailsFromCookie();
	
			// Check if product details are available
			if (productDetails) {
				console.log("Product ID:", productDetails.id);
				console.log("Quantity:", productDetails.quantity);
			}
		});
	</script>
	<script>
	// Function to send AJAX request
	function placeOrder() {
           
		$('form').on('submit',function(e){
			e.preventDefault();

			// Get product details from the cookie or your preferred method
			const closeBtn = document.getElementById("paymentSuccessModalClose");
			const selectPaymentModal = document.getElementById('selectPaymentWarnning');
			const selectPaymentModalClose = document.getElementById('selectPaymentModalClose');
			const cartTotal = document.querySelector("#cartTotalAmount");
			const modal2 = document.getElementById("paymentSuccessModal");
			const cartDetails= <%-JSON.stringify(cartDetails)%>;
			const currentAddressId = <%- JSON.stringify(currentAddressId)%>;
            const totalAmount = cartTotal.getAttribute("totalAmount");
			console.log("totalAmount:",totalAmount);

			const cashOnDeliveryRadioButton = document.querySelector('input[name="checkout"][value="cash-on-delivery"]');
			const onlinePaymentRadioButton = document.querySelector('input[name="checkout"][value="online-payment"]');

	        if(cashOnDeliveryRadioButton && cashOnDeliveryRadioButton.checked){
				// Make AJAX request
				$('form').on('submit',function(e){
					e.preventDefault();

					$.ajax({
						type: 'POST',
						url: '/placeOrder', 
						data: {
							cartDetails:cartDetails,
							totalAmount:totalAmount
						},
						success: function (response) {
							console.log("hello world");
							// Display payment successful modal
							modal2.style.display = "block";
							setTimeout(function() {
								window.location.href = "/shop"; 
							}, 3000);
						},
						error: function (error) {
							console.error("Error placing order:", error);
							// Handle error if needed
						}
					});
				})
	
			}else if(onlinePaymentRadioButton && onlinePaymentRadioButton.checked){
				$.ajax({
					type:'POST',
					url:'/generateRazorpayFromCheckout2',
					data:{
						cartDetails,totalAmount,currentAddressId
					},
					success:function(response){
						if(response){
							rezorpayPayment(response.order,response.total2);
						}
					},
					error:function(error){
						console.error("error while online payment",error);
					}
				});

				function rezorpayPayment(order,total){
					var options = {
						"key": "rzp_test_t03CSatWp5XBXp", // Enter the Key ID generated from the Dashboard
						"amount": total, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
						"currency": "INR",
						"name": "BoysWorld",
						"description": "Test Transaction",
						"image": "https://example.com/your_logo",
						"order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
						"handler": function (response){
							alert(response.razorpay_payment_id);
							alert(response.razorpay_order_id);
							alert(response.razorpay_signature);
                            console.log("response before varification");
							verifyPayment2(response);
						},
						"prefill": {
							"name": "Gaurav Kumar",
							"email": "gaurav.kumar@example.com",
							"contact": "9000090000"
						},
						"notes": {
							"address": "Razorpay Corporate Office"
						},
						"theme": {
							"color": "#3399cc"
						}
					};
					var rzp1 = new Razorpay(options);
                     rzp1.open();
				}
				 function verifyPayment2(payment){
					   
                       $.ajax({
						method:'POST',
						url:'/verify-payment2',
                        data:{
							payment
						},
						success:function(response){
							if(response){
								modal2.style.display = "block";
								setTimeout(function() {
									window.location.href = "/shop"; 
								}, 3000);
							}
						}
					   })
				 }

			}else{
				selectPaymentModal.style.display = "block";
				event.preventDefault();
				selectPaymentModalClose.onclick = function(){
				 selectPaymentModal.style.display = "none";
			}
		}
	})
			
	}
		
	</script>
	<script>
		// Get references to the modal and the button to open/close it
		var modal2 = document.getElementById("paymentSuccessModal");
		const selectPaymentModal = document.getElementById('selectPaymentWarnning');
        const selectPaymentModalClose = document.getElementById('selectPaymentModalClose');

		
	
		// Close the modal if the user clicks outside of it
		window.onclick = function (event) {
			if (event.target == modal2) {
				modal2.style.display = "none";
			}
		}
     
		selectPaymentModalClose.onclick = function(){
			selectPaymentModal.style.display = "none";

		}

		window.onclick = function(event){
			if(event.target == selectPaymentModal){
				selectPaymentModal.style.display = "none";
			}
		}

	</script>


</body>
</html>