<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Checkout | E-Shopper</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	<style>
		.a-box {
			display: block;
			border-radius: 8px;
			background-color: #fff;
			border: 1px #D5D9D9 solid;
			padding-left: 30px;
			
		}
		.box-sub{
			display: flex;
			flex-wrap: wrap;
			position: relative;
			box-sizing: border-box;
			padding-left: 0%;
			float: left;
			border-radius: 8px;
			background-color: #fff;
			margin-top: 15px;
			width: 97%;

		}
		.box-sub p{
			font-weight: 700!important;
		}
		.cash{
			padding-top: 2px;
			padding-left: 15px;
		}
		.highlighted {
            background-color: #f2f2f2; /* Light background color */
            border: 1px solid #ccc; /* Border style */
        }
		.box-sub input[type="radio"]:disabled + .cash {
			opacity: 0.3; /* Adjust the opacity value as needed */
		  }

		.content{
			display: flex;
			margin: 10px 10px 10px 10px;
		}
		.photo{
			
		}
		.photo img{
			height: 200px;
			width: 200px;
		}
		.discription{
			margin-left: 25px;
		}


		/* Style for the modal container */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            background-color: rgba(0, 0, 0, 0.7); /* Black with a little transparency */
        }

        /* Style for the modal content */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 50%; /* Could be more or less, depending on screen size */
        }

        /* Style for the close button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
		.modal-style{
			display: flex;
		}
		.modal-text{
			display: flex;
			justify-content: center; 
			align-items: center;     
			width: 100%;             
			height: 100%;
			padding-top: 20%;
		}
		
	</style>

	<!-- modal for order place -->

	<style>
		/* Style for the payment success modal */
		#paymentSuccessModal {
			display: none;
			position: fixed;
			z-index: 1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
		}
	
		#paymentSuccessModalContent {
			background-color: #fefefe;
			margin: 15% auto;
			padding: 20px;
			border: 1px solid #888;
			width: 50%;
		}
	
		#paymentSuccessModalClose {
			color: #aaa;
			float: right;
			font-size: 28px;
			font-weight: bold;
			cursor: pointer;
		}
	
		#paymentSuccessModalClose:hover,
		#paymentSuccessModalClose:focus {
			color: black;
			text-decoration: none;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>


</head><!--/head-->

<body>
	<header id="header"><!--header-->

		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><img src="images/home/logo.png" alt="" /></a>
						</div>
						
					</div>
					
				</div>
			</div>
		</div><!--/header-middle-->
	    <div class="title text-center">
               <h2>Checkout</h2>
		</div>
	
	</header><!--/header-->

<section>
	<div class="container">
		<form action="">
		<table class="table  table-condensed">
           <thead>
			<tr>
				<td>
					<h4>1</h4>
				</td>
				<td>
					<h4 class="title ">Delevery Address</h4>
				</td>
				<td>
					<h4>adddress</h4>
				</td>
				<td>
					<a class="title" href="#" id="openModalBtn"><h5>Change</h5></a>
				</td>
			</tr>
		   </thead>
		   <tbody>

			<!-- modal -->
			<div id="myModal" class="modal">
				<div class="modal-content">
					<span class="close" id="closeModalBtn">&times;</span>
					<div class="modal-style">
						<div class="container">
							<% for(let i = 0 ;i< address.length;i++) {%>
							<a href="/setDefaultAddressFromCheckout/<%= address[i]._id%>" data-index="<%= i %>">
                            <div class="row">
								<div class="box-sub">
									<div>
										

											<input type="radio" name="checkout" >
									
										
									</div>
									<div>
										<h5><%= address[i].name%>,</h5>
										<h5> <%= address[i].number %>,</h5>
										<h5><%= address[i].houseName%>,</h5>
										<h5><%= address[i].houseNumber%></h5>
										<h5> <%= address[i].state%>,</h5>
										<h5><%= address[i].city%>,</h5>
										<h5><%= address[i].street%>,</h5>
										<h5><%= address[i].landMark%></h5>
										<h5><%= address[i].pin%>,</h5>
									</div>
							
								</div>	
						 	</div>
						    </a>
							<% } %>
						</div>
					
					</div>
				</div>
			</div>


		   
			   
			<% for(let i = 0 ;i< currentAddress.length;i++) {%>

				<tr>
					<td>

					</td>
					<td>

					</td>
					<td >
						
						<h4 id="selectedAddressName"><%= currentAddress[0].name %></h4>
						<h5 id="selectedAddressNumber">Mobile number: <%= currentAddress[0].number %></h5>
						<h5 id="selectedAddressHouseName">House Name: <%= currentAddress[0].houseName %></h5>
						<h5 id="selectedAddressHouseNumber">House Number: <%= currentAddress[0].houseNumber %></h5>
						<h5 id="selectedAddressState">State: <%= currentAddress[0].state %></h5>
						<h5 id="selectedAddressCity">City: <%= currentAddress[0].city %></h5>
						<h5 id="selectedAddressStreet">Street: <%= currentAddress[0].street %></h5>
						<h5 id="selectedAddressLandMark">LandMark: <%= currentAddress[0].landMark %></h5>
						<h5 id="selectedAddressPinCode">Pin Code: <%= currentAddress[0].pin %></h5>
							<% break %>
			        </td>
				</tr>
				<% } %>

				<thead>
					<tr>
						<td>
							<h4>2</h4>
						</td>
						<td>
							<h4 class="title ">Select a payment method</h4>
						</td>
						<td>

						</td>
						<td>

						</td>
					
					</tr>
				   </thead>


		   </tbody>

	    </table>
	    
		<div class="a-box">
			

			<div class="row">
				<div class="box-sub">
					<div>
						<input type="radio" name="checkout" value="online-payment" >
					</div>
					<div class="cash">
						<p>Online Payment</p>
					</div>
				
				</div>
			</div>

			<div class="row">
				<div class="box-sub">
					<div>
						<input type="radio" name="checkout" value="cash-on-delivery">
					</div>
					<div class="cash">
						<p>Cash on Deleivery</p>
					</div>
				
				</div>
			</div>
			   
		</div>
        <table class="table  table-condensed"
		<thead>
			<tr>
				<td>
					<h4>3</h4>
				</td>
				<td>
					<h4 class="title ">Rivew item and Delevery</h4>
				</td>
				<td>

				</td>
				<td>

				</td>
			
			</tr>
		   </thead>

		   
          </table>
	</form>

		<div class="a-box">
		   <div class="content">
			       <div class="photo">
					 <img src="/views/productImages/<%=product.image[0]%>" alt="">
				   </div>
				   <div class="discription">
                      <h5><%=product.name%></h5>
					  <h5><%=product.discription%></h5>
					  <h5>R <%=product.price%></h5>
					  <h5>Qty:<%=quantity%></h5>
					  <h5>Order Total : <%=totalPrice%></h5>
				   </div>
                  
		   </div>
		</div>
		<div class="a-box text-center" >
			<div>
				<Button class="btn btn-default place-order" onclick="placeOrder()">Place your order</Button>
			</div>
		</div>
    </div>


    <div id="paymentSuccessModal" class="modal2">
		<div id="paymentSuccessModalContent" class="modal-content2">
			<span id="paymentSuccessModalClose" class="close">&times;</span>
			<div class="modal-style">
				<div class="modal-text">
					<p>Payment Successful!</p>
				
				</div>
			</div>
		</div>
	</div>

	<!-- modal last for select payment warning -->
	<div id="selectPaymentWarnning" class="modal">
		<div id="selectModalContent" class="modal-content">
			<span id="selectPaymentModalClose" class="close">&times;</span>
			<div class="modal-style">
				<div class="modal-text">
					<p>Select a payment method</p>
				
				</div>
			</div>
		</div>
	</div>
</section>
	<footer id="footer">
		
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Get the most recent updates from <br />our site and be updated your self...</p>
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2013 BoysWorld Inc. All rights reserved.</p>
					
				</div>
			</div>
		</div>
		
	</footer>
	


    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>

	<script>
        // Add a JavaScript function to handle the radio button click event
        document.addEventListener("DOMContentLoaded", function () {
            const radioButtons = document.querySelectorAll("input[type='radio']");
            const boxSubs = document.querySelectorAll(".box-sub");

            for (let i = 0; i < radioButtons.length; i++) {
                radioButtons[i].addEventListener("click", function () {
                    // Remove the 'highlighted' class from all box-subs
                    for (let j = 0; j < boxSubs.length; j++) {
                        boxSubs[j].classList.remove("highlighted");
                    }

                    // Add the 'highlighted' class to the selected box-sub
                    boxSubs[i].classList.add("highlighted");
                });
            }
        });
    </script>

	<script>
		// Get references to the modal and the button to open/close it
		var modal = document.getElementById("myModal");
		var openModalBtn = document.getElementById("openModalBtn");
		var closeModalBtn = document.getElementById("closeModalBtn");
	
		// Event listener to open the modal
		openModalBtn.onclick = function() {
			modal.style.display = "block";
		}
	
		// Event listener to close the modal
		closeModalBtn.onclick = function() {
			modal.style.display = "none";
		}
	
		// Close the modal if the user clicks outside of it
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>

	<script>
		// Function to get product details from the cookie
		function getProductDetailsFromCookie() {
			const cookieValue = document.cookie
				.split('; ')
				.find(row => row.startsWith('productDetails='))
				?.split('=')[1];
	
			return cookieValue ? JSON.parse(decodeURIComponent(cookieValue)) : null;
		}
	
		// Example usage
		document.addEventListener('DOMContentLoaded', function () {
			// Call the function to get product details from the cookie
			const productDetails = getProductDetailsFromCookie();
	
			// Check if product details are available
			if (productDetails) {
				console.log("Product ID:", productDetails.id);
				console.log("Quantity:", productDetails.quantity);
	
				
			}
		});
	</script>

	


  
	<script>
		// Function to send AJAX request
		function placeOrder() {
			// Get product details from the cookie or your preferred method
			const closeBtn = document.getElementById("paymentSuccessModalClose");
			const selectPaymentModal = document.getElementById('selectPaymentWarnning');
			const modal2 = document.getElementById("paymentSuccessModal");
			const productId = <%-JSON.stringify(product._id)%>;
			const quantity = <%-JSON.stringify(quantity)%>;
			const totalPrice = <%-JSON.stringify(totalPrice)%>;
			const currentAddress = <%-JSON.stringify(currentAddress)%>;

			const cashOnDeliveryRadioButton = document.querySelector('input[name="checkout"][value="cash-on-delivery"]');
			const onlinePaymentRadioButton = document.querySelector('input[name="checkout"][value="online-payment"]');

	        if(cashOnDeliveryRadioButton && cashOnDeliveryRadioButton.checked){
				// Make AJAX request
				$.ajax({
					type: 'POST',
					url: '/placeOrder', 
					data: {
						productId: productId,
						quantity: quantity,
						total: totalPrice,
						currentAddress:currentAddress,
					},
					success: function (response) {
						console.log("hello world");
						// Display payment successful modal
					
						modal2.style.display = "block";
					},
					error: function (error) {
						console.error("Error placing order:", error);
						// Handle error if needed
					}
				});
	
			}else if(onlinePaymentRadioButton && onlinePaymentRadioButton.checked){
				
				$.ajax({
					type:'POST',
					url:'/generateRazorpay',
					data:{
						productId: productId,
						quantity: quantity,
						total: totalPrice,
						currentAddress:currentAddress,
					},
					success:function(response){
						
						rezorpayPayment(response.order);
					},
					error:function(error){
						console.error("error while online payment",error);
					}
				});




				function rezorpayPayment(order){
					const oders = <%-JSON.stringify(oders)%>;
					var options = {
						"key": "rzp_test_t03CSatWp5XBXp", // Enter the Key ID generated from the Dashboard
						"amount": order.amount_due, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
						"currency": "INR",
						"name": "BoysWorld",
						"description": "Test Transaction",
						"image": "https://example.com/your_logo",
						"order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
						"handler": function (response){
							alert(response.razorpay_payment_id);
							alert(response.razorpay_order_id);
							alert(response.razorpay_signature);

							verifyPayment(response,oders);
						},
						"prefill": {
							"name": "Gaurav Kumar",
							"email": "gaurav.kumar@example.com",
							"contact": "9000090000"
						},
						"notes": {
							"address": "Razorpay Corporate Office"
						},
						"theme": {
							"color": "#3399cc"
						}
					};
					var rzp1 = new Razorpay(options);
                     rzp1.open();
				}
           
				 
				 function verifyPayment(payment,oders){
                       $.ajax({
						method:'POST',
						url:'/verify-payment',
                        data:{
							payment,
							oders,
							productId: productId,
							quantity: quantity,
							total: totalPrice,
							currentAddress:currentAddress,

						},

					   })
				 }



			}else{
				
               selectPaymentModal.style.display = "block";
			}
		
			
		}
		
	</script>

	
	
	<script>
		// Get references to the modal and the button to open/close it
		var modal2 = document.getElementById("paymentSuccessModal");
		var closeModalBtn2 = document.getElementById("paymentSuccessModalClose");
		const selectPaymentModal = document.getElementById('selectPaymentWarnning');
        const selectPaymentModalClose = document.getElementById('selectPaymentModalClose');

		// Event listener to close the modal
		closeModalBtn2.onclick = function () {
			modal2.style.display = "none";
		}
	
		// Close the modal if the user clicks outside of it
		window.onclick = function (event) {
			if (event.target == modal2) {
				modal2.style.display = "none";
			}
		}
     
		selectPaymentModalClose.onclick = function(){
			selectPaymentModal.style.display = "none";

		}

		window.onclick = function(event){
			if(event.target == selectPaymentModal){
				selectPaymentModal.style.display = "none";
			}
		}

	</script>
	

</body>
</html>