<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cart | E-Shopper</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/price-range.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	<style>
	       .table-row{
		
			box-sizing: border-box;
			
			
		   }
           .a-box {
			display: block;
			border-radius: 8px;
			background-color: #fff;
			border: 1px #D5D9D9 solid;
			padding-left: 30px;
			width: 100%;
			
			
		    }
           
           .content{
			display: flex;
			margin: 10px 10px 10px 10px;
		   }
		   .a-box img{
			height: 150px;
			width: 100px;
			object-fit: contain;
		   }
		   .cancel-order{
			margin-left: 200px;
			margin-top: 95px;
		   }
		   .product-details{
			width: 50%;
			display: flex;
		   }

		   
			  /* Style for the modal container */
			  .modal {
				display: none; /* Hidden by default */
				position: fixed; /* Stay in place */
				z-index: 1; /* Sit on top */
				left: 0;
				top: 0;
				width: 100%; /* Full width */
				height: 100%; /* Full height */
				background-color: rgba(0, 0, 0, 0.7); /* Black with a little transparency */
			}
	
			/* Style for the modal content */
			.modal-content {
				background-color: #fefefe;
				margin: 15% auto; /* 15% from the top and centered */
				padding: 20px;
				border: 1px solid #888;
				width: 50%; /* Could be more or less, depending on screen size */
			}
	
			/* Style for the close button */
			.close {
				color: #aaa;
				float: right;
				font-size: 28px;
				font-weight: bold;
			}
	</style>
    <!-- style for pagination  -->
	<style>
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .pagination a {
            padding: 8px 16px;
            text-decoration: none;
            color: #333;
            background-color: #f2f2f2;
            border: 1px solid #ddd;
            margin: 0 4px;
            border-radius: 4px;
        }

        .pagination a:hover {
            background-color: #ddd;
        }

        .pagination .current {
            background-color: #4CAF50;
            color: white;
        }
		.pagination a[disabled] {
			pointer-events: none;
			color: #999;             /* Change the color to indicate a disabled state */
			cursor: not-allowed;
			text-decoration: none;
		}
	
		.pagination a[disabled]:hover {
			background-color: initial;
		}
		.pagination .page.highlighted {
			background-color: #e69927;
			color: white;
		/* Add any additional styling for the highlighted state */
		}
    </style>
</head><!--/head-->

<body>
	<header id="header"><!--header-->
		
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><img src="images/home/logo.png" alt="" /></a>
						</div>
						
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="/getAccount"><i class="fa fa-user"></i> Account</a></li>
								<!-- <li><a href="/getWishlist"><i class="fa fa-star"></i> Wishlist</a></li>
								<li><a href="/getcheckout"><i class="fa fa-crosshairs"></i> Checkout</a></li> -->
								<li><a href="/getCart" class="active"><i class="fa fa-shopping-cart"></i> Cart</a></li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/">Home</a></li>
								<li ><a href="/shop">Shop</i></a>
                                    
                                </li> 
								
								
								<li><a href="/contact">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->

	<section id="cart_items">
		<div class="container">
			<% for (let i = 0; i < orderDetails.length; i++) { %>
			   <% for(let j=0;j< orderDetails[i].productDetail.length;j++){ %>

			  
								<% if (orderDetails[i].productDetail[j]) { %>
									<div class="a-box">
									<div class="content">
										<div class="product-details">
										<div>
										<img src="/views/productImages/<%= orderDetails[i].productDetail[j].image[0]%>" alt="<%= orderDetails[i].productDetail[j].productName %>">
										
										</div>
										<div>
											<h6><%= orderDetails[i].productDetail[j].productName %></h6>
										<p>Price: $<%= orderDetails[i].productDetail[j].price %></p>
										<p><h6>Quantity: <%=  %></h6></p>
										<p><h5><%= orderDetails[i].productDetail[j].discription %></h5></p>
										</div>
										</div>
											<div class="address">
												<h5>Delivery Address</h5>
												<div>
													<% if (orderDetails[i].currentAddress[0]){ %>
													<h5><%= orderDetails[i].currentAddress[0].name%>,</h5>
													<h5> <%= orderDetails[i].currentAddress[0].number %>,</h5>
													<h5><%= orderDetails[i].currentAddress[0].email %>,</h5>
													<h5><%= orderDetails[i].currentAddress[0].houseName%></h5>
													<h5><%= orderDetails[i].currentAddress[0].houseNumber%></h5>
													<h5> <%= orderDetails[i].currentAddress[0].state%>,</h5>
													<h5><%= orderDetails[i].currentAddress[0].city%>,</h5>
													<h5><%= orderDetails[i].currentAddress[0].street%>,</h5>
													<h5><%= orderDetails[i].currentAddress[0].landMark%></h5>
													<h5><%= orderDetails[i].currentAddress[0].pin%>,</h5>

													<% } else { %>
														<h5><%= orderDetails[i].currentAddress.name%>,</h5>
														<h5> <%= orderDetails[i].currentAddress.number %>,</h5>
														<h5><%= orderDetails[i].currentAddress.houseName%>,</h5>
														<h5><%= orderDetails[i].currentAddress.houseNumber%></h5>
														<h5> <%= orderDetails[i].currentAddress.state%>,</h5>
														<h5><%= orderDetails[i].currentAddress.city%>,</h5>
														<h5><%= orderDetails[i].currentAddress.street%>,</h5>
														<h5><%= orderDetails[i].currentAddress.landMark%></h5>
														<h5><%= orderDetails[i].currentAddress.pin%>,</h5>
													<% } %>
												</div>
											</div>
					
											<div class="order-Status" style="padding-left: 70px;padding-top:90px">
												<h6>(<%=orderDetails[i].currentStatus%>)</h6>
											</div>

										<div class="cancel-order">
											<button class="cancelOrder" data-orderId="<%= orderDetails[i]._id %>" >Cancel order</button>
										</div>
									</div>
									</div>
								<% } else { %>
									<p> product data is not getting</p>
								<% } %>
							<%}%>
						<!-- first modal for conformation -->
					<div id="conformModal-<%= orderDetails[i]._id %>" class="modal">
						<div class="modal-content">
							<span id="conformModalClose" class="close">&times;</span>
							<div class="modal-style">
								<div class="modal-text" >
									<p>Are you sure for cancelling the order?</p>
								</div>
								<div style="display: flex;">
									<a href="#" class="conformCancelOrder" orderId="<%= orderDetails[i]._id %>"><h3>Yes</h3></a>
									 <a href="/orders" style="padding-left: 25px;"><h3>No</h3></a>
									
								</div>
							</div>
						</div>
				    </div>
			<% } %>
		  </div>

		  <div class="pagination">
			<!-- previous  -->
			<% if(currentPage > 1){ %>
				<a href="?page=<%= currentPage - 1 %>" class="prev" id="prevPage" page="-1">Previous</a>
			<% } else { %>
				<a class="prev" id="prevPage" page="-1" disabled>Previous</a>
			<% } %>
			
			<!--  -->
			 
			<!-- page 1  -->
			<% if(currentPage <= totalPages+1){ %>
			<% if (currentPage == 1) { %>
				<a href="?page=1" class="page highlighted" page="1" id="page-1">1</a>
			<% } else { %>
				<a href="?page=1" class="page" page="1" id="page-1">1</a>
			<% } %>
			<% } %>
			<!--  -->

			<!-- page 2  -->
			<% if(currentPage <= totalPages+1){ %>
			<% if (currentPage == 2 ) { %>
				<a href="?page=2" class="page highlighted" page="2" id="page-2">2</a>
			<% } else { %>
				<a href="?page=2" class="page" page="2" id="page-2">2</a>
			<% } %>
			<% } %>
			<!--  -->

			<!-- pages 3  -->
			<% if (currentPage <= totalPages+1 ){ %>
				<%  if (currentPage == 3) { %>
					<a href="?page=3" class="page highlighted" page="3" id="page-3">3</a>
				<% } else { %>
					<a href="?page=3" class="page" page="3" id="page-3">3</a>
				<% } %>
			<% } %>
		
			<!--  -->

			<!-- page 4 -->
			<% if(currentPage <= totalPages+1){ %>
			<% if (currentPage == 4) { %>
				<a href="?page=4" class="page highlighted" page="4" id="page-4">4</a>
			<% } else { %>
				<a href="?page=4" class="page" page="4" id="page-4">4</a>
			<% } %>
			<% } %>
			<!--  -->

			<!-- Add more pages if needed -->

			<% if(currentPage < 4){ %>
				<a href="?page=<%= currentPage + 1 %>" class="next" id="nextPage" page="1">Next</a>
			<% } %>
		</div>

		  <div id="Conform2Modal" class="modal">
			<div class="modal-content">
				<span id="conform2ModalClose" class="close">&times;</span>
				<div class="modal-style">
					<div class="modal-text" >
						<p>Order cancelled successfully</p>
					</div>
				</div>
			</div>
		</div>

	</section> <!--/#cart_items-->

	
	<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					
				</div>
			</div>
		</div>
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Get the most recent updates from <br />our site and be updated your self...</p>
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
	


    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
    <!-- for cancelling the order -->
	<script>
		var openModalLinks = document.querySelectorAll(".cancelOrder");
		var closeModal = document.getElementById("conformModalClose");
		var modals = document.querySelectorAll(".modal");
	
		// Attach event listeners to each "Cancel Order" link
		openModalLinks.forEach(function (link) {
			link.onclick = function () {
				var orderId = link.getAttribute("data-orderId");
				var modal = document.getElementById("conformModal-" + orderId);
				modal.style.display = "block";
			};
		});
	
		// Attach event listeners to close the modal
		closeModal.onclick = function () {
			modals.forEach(function (modal) {
				modal.style.display = "none";
			});
		};
	
		// Close the modal if the user clicks outside of it
		window.onclick = function (event) {
			modals.forEach(function (modal) {
				if (event.target == modal) {
					modal.style.display = "none";
				}
			});
		};
	</script>
	<!-- to cancle order -->
	<script>
		document.addEventListener("DOMContentLoaded",function(){
			const cancelOrder = document.querySelectorAll(".conformCancelOrder");
			const cancelBtn = document.querySelectorAll(".cancelOrder");
            const order = <%- JSON.stringify(orderDetails)%>;
           
            cancelBtn.forEach((btn,i)=>{
				if(order[i].currentStatus === "Cancelled" || order[i].currentStatus === "Deliverd" ){
					console.log("disbled way");
					btn.disabled = true;
				}
			})

			cancelOrder.forEach((cancelOrder,i)=>{

			

				cancelOrder.addEventListener("click",function(event){
					event.preventDefault();
					const orderId = this.getAttribute("orderId");
				    var modal2 = document.getElementById("Conform2Modal");
					var closeModalBtn2 = document.getElementById("conform2ModalClose");
                    
				


					 //make ajax request
					 $.ajax({
						type:'POST',
						url:'/cancelOrder',
						data:{
							orderId: orderId,
						},
						success:function(respond){
							//display the cancel order modal
                             modal2.style.display = "block";
							 location.reload();
						},
						error:function(error){
							console.error("error while canceling order in ejs",error);

						}
					 });
						// Event listener to close the modal
						closeModalBtn2.onclick = function () {
							modal2.style.display = "none";
						}
					
						// Close the modal if the user clicks outside of it
						window.onclick = function (event) {
							if (event.target == modal2) {
								modal2.style.display = "none";
							}
						}
				});
			});
		});
	</script>
	<script>
		document.addEventListener("DOMContentLoaded",function(){
			const prevew = document.querySelectorAll(".page");
			const prevPage = document.getElementById("prevPage");
			const nextPage = document.getElementById("nextPage");

           Array.from(prevew).forEach((selectedPage,i)=>{
				selectedPage.addEventListener("click",function(event){
					event.preventDefault();
					const pageNumber = this.getAttribute("page");
					console.log(pageNumber);
					const newUrl = `/orders?page=${pageNumber}`;
					window.location.href = newUrl

				})
			})

			nextPage.addEventListener("click",function(event){
				event.preventDefault();
				const pageNumber = this.getAttribute("page")
				console.log("pageNumber:",pageNumber);
				const newUrl = `/orders?page=${pageNumber}`;
				window.location.href = newUrl
			})

			prevPage.addEventListener("click",function(event){
				event.preventDefault();
				const pageNumber = this.getAttribute("page");
				console.log(pageNumber);
				const newUrl = `/orders?page=${pageNumber}`;
				window.location.href = newUrl
			})
		})
	</script>
	
	
	
</body>
</html>