<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Home | E-Shopper</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/prettyPhoto.css" rel="stylesheet">
        <link href="/css/price-range.css" rel="stylesheet">
        <link href="/css/animate.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
        <link href="/css/responsive.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->       
        <link rel="shortcut icon" href="images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>

		<style>
			.xzoom-thumbs img {
				display: inline-block;
				height: 80px;
				width: 80px;
				border: 1px solid #ccc;
				object-fit: contain; 
			}
		
			.zoomed-image-container {
				display: none; /* Initially hide the container */
				position: absolute;
				top: 0;
				left: 100%; /* Position to the right of the main image */
				margin-left: 10px; /* Add some spacing */
				width: 80px; /* Adjust the width as needed */
			}
			.pro-row{
				display: flex;
			}
			.error-message {
				color: red;
				display: none;
			}
		</style>
         <!-- for removing the arrow in the input field -->
		<style>
			input[type="number"]::-webkit-inner-spin-button,
			input[type="number"]::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		
			input[type="number"] {
				-moz-appearance: textfield;
			}
			.error-message {
				color: red;
				display: none;
			}
		</style>
		
		 <!-- for style the size box  -->
		<style>
			.size-selection {
				display: flex;
				margin-top: 20px;
				
			  }
			  
			  .size-selection label {
				padding: 8px;
				border: 1px solid #ddd;
				cursor: pointer;
				height: 35px;
				margin-left: 5px;
				
			  }
			  
			  .size-selection input[type="radio"]:checked + label {
				background-color: #FFA500; /* Orange */
				color: white;
				
			  }

			  /*css for accordian */
			 #offer {
				display: none;
			}
			
			.hidecontent {
				display: none;
			}
			
			#offer:checked ~ #content2 {
				display: block;
			}
			 
			  
			 
		</style>


    </head><!--/head-->

<body>
	
	<header id="header"><!--header-->
	
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><img src="../images/home/logo.png" alt="" /></a>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="/getAccount"><i class="fa fa-user"></i> Account</a></li>
								<!-- <li><a href="/getWishlist"><i class="fa fa-star"></i> Wishlist</a></li>
								<li><a href="/getCheckout"><i class="fa fa-crosshairs"></i> Checkout</a></li> -->
								<li>
									<a href="/getCart" >
										<div class="cart-icon-container">
											<i class="fa fa-shopping-cart"></i>
											<% if(cart ){ %>
												<span id="cartCounter">Cart(<%=cart.length%>)</span>

											<% } %>
										</div>
									</a>
							
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/" >Home</a></li>
								<li><a href="/shop" class="active">Shop</a></li> 
								<li><a href="/contact">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center"><%= productData[0].name%></h2>
                    </div>
				</div>
			</div>					
			<div class="pro-row">
				<div class="col-sm-1">
					<div class="xzoom-thumbs">
						<% for(let i = 0 ; i < productData[0].image.length ; i++){ %>
							<div>
								<a href="" data-index="<%= i %>">
									<img class="xzoom-gallery" src="/views/productImages/<%= productData[0].image[i]%>" alt="">
								</a>
							</div>
						<%}%>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="col-sm-12">
						<div class="product-image-wrapper">
							<div class="single-products">
									<div class="productinfo text-center">
										<div  id="xzoom-default">
											<img src="/views/productImages/<%= productData[0].image[0]%>" alt="" id="zoom-image">
										</div>
									</div>
							</div>
						</div>
					</div>
				</div> 
					<div class="col-sm-4" >
						<p><%=productData[0].discription%></p>

						<% let categoryOffer = productData[0].categoryDetail[0].offer %>
						<% let offerPrice = productData[0].offerPrice %>
						<% let productPrice = productData[0].price %>

						        <% if (categoryOffer != 0){ %>

									<% let totalOffer = productData[0].offer + categoryOffer %>
									<% let newPrice = productPrice - ((totalOffer/100)*productPrice) %>
									<% if(newPrice < 0){ %>
										<% newPrice = 0 %>
									<% } %>

									<input type="checkbox" id="offer" class="hidecontent"/>
									<label for="offer" style="color: #FFA500;">(<%=productData[0].offer + categoryOffer%>% off)</label>
									<div id="content2" class="hidecontent"><h6>	<%= productData[0].offer%> % product offer + <%= categoryOffer%>% category offer</h6></div>

									<h5><del>₹<%= productData[0].price %></del></h5>
									<h5><b>₹<%= newPrice %></b></h5>
								<% } else{ %>
						
										<% if(productData[0].offer > 0){ %>
											<h6 style="color: #FFA500;">(<%=productData[0].offer%>% off)</h6>
											<h5><del>₹<%= productData[0].price %></del></h5>
											<h5><b>₹<%= productData[0].offerPrice %></b></h5>
										<% } else{ %>
											<h6>(No Offer Available)</h6>
											<h5>₹<%= productData[0].price %></h5>
										<% } %>
								<% } %>
						<div class="size-selection">
							<input type="radio" id="small" name="size" value="sizeSmall" hidden>
							<label for="small">S</label>
							<input type="radio" id="medium" name="size" value="sizeMedium" hidden>
							<label for="medium">M</label>
							<input type="radio" id="large" name="size" value="sizeLarge" hidden>
							<label for="large">L</label>
						  </div>
						  <h5 id="error-messsage" style="color: red;"></h5>
						  <h6 id="stockDetails"></h6>
						<div>
							<label for="quantity">Quantity</label>
							<div>
								<button id="decBtn">-</button>
								<input type="number" id="quantity" style="width: 50px;" value="1">
								<button id="incBtn" >+</button>
							</div>
						</div>

						<button id="addCartBtn" class="btn btn-default add-to-cart" class="fa fa-shopping-cart" onclick="addToCart('<%=productData[0]._id%>')">Add to cart</button>
						<button id="buyNow" class="btn btn-default add-to-cart" onclick="buyNow('<%=productData[0]._id%>')" >Buy Now</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<footer id="footer"><!--Footer-->
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Get the most recent updates from <br />our site and be updated your self...</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2013 BoysWorld Inc. All rights reserved.</p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->

    <script src="../js/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/jquery.scrollUp.min.js"></script>
	<script src="../js/price-range.js"></script>
    <script src="../js/jquery.prettyPhoto.js"></script>
    <script src="../js/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>

    <script>
		$(document).ready(function () {
			// Initialize the xZoom on the xzoom-default element
			$('#xzoom-default').zoom({
				touch: false,
				zoomLevel: 50,
			});

			function initializeZoom() {
				$('#xzoom-default').zoom({
				  touch: false,
				  zoomLevel: 50,
				});
			  }
	
			// Add a click event to the thumbnails in xzoom-thumbs
			$('.xzoom-thumbs a').on('click', function (e) {
				e.preventDefault(); // Prevent the default click behavior
	
				// Get the index of the clicked thumbnail
				var index = $(this).data('index');
				var productData = <%- JSON.stringify(productData)%>;
			   
				// Update the src attribute of the xzoom-default image
				$('#xzoom-default img').attr('src', '/views/productImages/' + productData[0].image[index]);
				initializeZoom();
			});
	
			// Add a mouseenter event to display the zoomed image container
			$('#xzoom-default').on('mouseenter', function () {
				$('#zoomed-image-container').show();
			});
	
			// Add a mouseleave event to hide the zoomed image container
			$('#xzoom-default').on('mouseleave', function () {
				$('#zoomed-image-container').hide();
			});
		});
	</script>
    <!-- updating the quantity -->

	<script>

	</script>

	<script>
		function buyNow(productId) {
			// Get the quantity from the input field
		    const size = document.querySelector('input[name="size"]:checked').value;
			var quantity = document.getElementById('quantity').value;
			if(quantity ==='' || quantity <= 0){
				quantity = 1;
			}
			console.log(quantity);
	
			// Call a function to store the product details in the cookie
			storeProductInCookie(productId, quantity);
	
			// Redirect to the checkout page
			window.location.href = "/getCheckout?productId=" + productId + "&quantity=" + quantity + "&size="+size;

		}
	
		function storeProductInCookie(productId, quantity) {
			const productDetails = {
				id: productId,
				quantity: quantity
			};
			document.cookie = `productDetails=${JSON.stringify(productDetails)}; path=/`;
		}
	</script>

	<script>

		function addToCart(productId){
            const  size = $("input[name='size']:checked").val();
            const counter = document.getElementById("cartCounter");

			$.ajax({
				method:'POST',
				url:'/addToCart',
				data:{
					size,
					productId
				},
				success:function(response){
					if(response){
						const products = response.products;
						window.location = '/getCart';
					}
				},
				error:function(err){
					console.log("error occured",err);
				}
			})
		}
	</script>
	<script>
		document.addEventListener("DOMContentLoaded",function(){
            const stockDetails = document.getElementById("stockDetails");
			const errorMessage = document.getElementById("error-messsage");
			const stock = <%- JSON.stringify(stock) %>;

			const buyNowBtn = document.getElementById("buyNow");
            const incBtn = document.getElementById("incBtn");
			const decBtn = document.getElementById("decBtn");
			const addCartBtn = document.getElementById("addCartBtn");
			const quantity = document.getElementById("quantity");

			$("input[name=size]").click(function(){
				const value = this.getAttribute("value");
				stockDetails.innerText = "";
				errorMessage.innerHTML = "";
				
				var currentStock;
				switch (value) {
					case "sizeSmall":
						currentStock = stock.sizeSmall.stock;
						break;
					case "sizeMedium":
						currentStock = stock.sizeMedium.stock;
						break;
					case "sizeLarge":
						currentStock = stock.sizeLarge.stock;
						break;
				}
			 
				if(currentStock === 0){
					errorMessage.innerHTML = "Out of Stock !!";
					buyNowBtn.disabled = true;
					incBtn.disabled = true;
					decBtn.disabled = true;
					addCartBtn.style.pointerEvents = "none";
					addCartBtn.style.opacity = "0.5";
					addCartBtn.setAttribute('tabindex','-1');
					quantity.style.pointerEvents = "none";
					quantity.style.opacity = "0.5";
					quantity.setAttribute('tabindex','-1');
				} else {
					stockDetails.innerText = currentStock +" Quantity left";
					buyNowBtn.disabled = false;
					buyNowBtn.style.pointerEvents = "auto"
					incBtn.disabled = false;
					decBtn.disabled = false;
					addCartBtn.style.pointerEvents = "auto";
					addCartBtn.style.opacity = "1";
					addCartBtn.removeAttribute('tabindex');
					quantity.style.pointerEvents = "auto";
					quantity.style.opacity = "1";
					quantity.removeAttribute('tabindex');

				}

				$("#incBtn").click(function(){
			

					var selectedSize = $("input[name='size']:checked").val();
					var currentStock;
				 
					switch (selectedSize) {
						case "sizeSmall":
							currentStock = stock.sizeSmall.stock;
							break;
						case "sizeMedium":
							currentStock = stock.sizeMedium.stock;
							break;
						case "sizeLarge":
							currentStock = stock.sizeLarge.stock;
							break;
					}
				 
					increaseQuantity(currentStock);
				 });
				 
				 $("#decBtn").click(function(){
					var selectedSize = $("input[name='size']:checked").val();
					var currentStock;
				 
					switch (selectedSize) {
						case "sizeSmall":
							currentStock = stock.sizeSmall.stock;
							break;
						case "sizeMedium":
							currentStock = stock.sizeMedium.stock;
							break;
						case "sizeLarge":
							currentStock = stock.sizeLarge.stock;
							break;
					}
				 
					decreaseQuantity(currentStock);
				 });

			 });

		})

		
		function decreaseQuantity(currentStock) {
			var quantityInput = document.getElementById('quantity');
			var currentQuantity = parseInt(quantityInput.value, 10);
	
			if (currentQuantity > 1 ) {
				quantityInput.value = currentQuantity - 1;
			}
		}
	
		function increaseQuantity(currentStock) {
			console.log("currentStock:",currentStock);
			var quantityInput = document.getElementById('quantity');
			var currentQuantity = parseInt(quantityInput.value, 10);
			const errorMessage = document.getElementById('error-messsage');
			

			console.log("currentQuantity:",currentQuantity);
			if(currentQuantity < currentStock ){
				quantityInput.value = currentQuantity + 1;
			}else{
				errorMessage.innerText = "Stock Limit exceed !!";
				errorMessage.style.display ="block";
				setTimeout(function(){
					errorMessage.style.display = "none";
				},3000);
				
			}
		}
		
	</script>
	<script>
		document.addEventListener("DOMContentLoaded",function(){
			const addCartBtn = document.getElementById("addCartBtn");
			const buyNowBtn = document.getElementById("buyNow");

			addCartBtn.style.pointerEvents = "none";
			buyNowBtn.style.pointerEvents  = "none";

		})
	</script>


</body>
</html>