<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cart | E-Shopper</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/price-range.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	<style>
	       .table-row{
			box-sizing: border-box;
		   }
           .a-box {
			display: block;
			border-radius: 8px;
			background-color: #fff;
			border: 1px #D5D9D9 solid;
			padding-left: 30px;
			width: 100%;
		
		    }
           .content{
			display: flex;
			margin: 10px 10px 10px 10px;
		   }
		   .a-box img{
			height: 150px;
			width: 100px;
			object-fit: contain;
		   }
		   .cancel-order{
			margin-left: 200px;
			margin-top: 95px;
		   }
		   .product-details{
			width: 50%;
			display: flex;
		   }
			  /* Style for the modal container */
			  .modal {
				display: none; /* Hidden by default */
				position: fixed; /* Stay in place */
				z-index: 1; /* Sit on top */
				left: 0;
				top: 0;
				width: 100%; /* Full width */
				height: 100%; /* Full height */
				background-color: rgba(0, 0, 0, 0.7); /* Black with a little transparency */
			}
			/* Style for the modal content */
			.modal-content {
				background-color: #fefefe;
				margin: 15% auto; /* 15% from the top and centered */
				padding: 20px;
				border: 1px solid #888;
				width: 50%; /* Could be more or less, depending on screen size */
			}
			/* Style for the close button */
			.close {
				color: #aaa;
				float: right;
				font-size: 28px;
				font-weight: bold;
			}
	</style>
    <!-- style for pagination  -->
	<style>
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .pagination a {
            padding: 8px 16px;
            text-decoration: none;
            color: #333;
            background-color: #f2f2f2;
            border: 1px solid #ddd;
            margin: 0 4px;
            border-radius: 4px;
        }
        .pagination a:hover {
            background-color: #ddd;
        }

        .pagination .current {
            background-color: #4CAF50;
            color: white;
        }
		.pagination a[disabled] {
			pointer-events: none;
			color: #999;             /* Change the color to indicate a disabled state */
			cursor: not-allowed;
			text-decoration: none;
		}
		.pagination a[disabled]:hover {
			background-color: initial;
		}
		.pagination .page.highlighted {
			background-color: #e69927;
			color: white;
		/* Add any additional styling for the highlighted state */
		}
		.showMore{
			margin-left: 500px;
			margin-bottom: 10px;
		}
		#invDownload {
			margin-left: 470px;
		}
	
    </style>

	<script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>

</head><!--/head-->

<body>
	<header id="header"><!--header-->
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><img src="images/home/logo.png" alt="" /></a>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="/getAccount"><i class="fa fa-user"></i> Account</a></li>
								<!-- <li><a href="/getWishlist"><i class="fa fa-star"></i> Wishlist</a></li>
								<li><a href="/getcheckout"><i class="fa fa-crosshairs"></i> Checkout</a></li> -->
								<li><a href="/getCart" class="active"><i class="fa fa-shopping-cart"></i> Cart</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/">Home</a></li>
								<li >
									<a href="/shop">Shop</i></a>
                                </li> 
								<li><a href="/contact">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->

	<section id="cart_items">
		<div class="container">
	
								<div class="a-box" >
									<div class="content">
										<div class="product-details">
										<div>
										<img src="/views/productImages/<%= selectedOrder[0].productDetails[0].image[0]%>" alt="<%= selectedOrder[0].productDetails[0].name%>">
										</div>
										<div style="margin-left: 50px;">
										<h4><%= selectedOrder[0].productDetails[0].name%></h4>
										<p>Price: ₹<%= selectedOrder[0].productDetails[0].offerPrice%></p>
										<p><h6>Quantity: <%= selectedOrder[0].products.quantity%></h6></p>
										<p><h5><%= selectedOrder[0].productDetails[0].discription%></h5></p>
										<p><h5><%= selectedOrder[0].paymentMethod%></h5></p>
										<p><h5><%= selectedOrder[0].date%></h5></p>
										 <% if(selectedOrder[0].usedCoupen){ %>
											<p><h5>Used coupen =<%= selectedOrder[0].usedCoupen %></h5></p>
										 <% } else{ %>
                                            <p><h5>(No coupon used)</h5></p>
										 <% } %>
										</div>
										</div>
											<div class="address">
												<h5>Delivery Address</h5>
												<div>
													<% if (selectedOrder[0].currentAddressDetail[0].address){ %>
														<h5><%= selectedOrder[0].currentAddressDetail[0].address.name%>,</h5>
														<h5> <%= selectedOrder[0].currentAddressDetail[0].address.number %>,</h5>
														<h5><%= selectedOrder[0].currentAddressDetail[0].address.email %>,</h5>
														<h5><%= selectedOrder[0].currentAddressDetail[0].address.houseName%></h5>
														<h5><%= selectedOrder[0].currentAddressDetail[0].address.houseNumber%></h5>
														<h5> <%= selectedOrder[0].currentAddressDetail[0].address.state%>,</h5>
														<h5><%= selectedOrder[0].currentAddressDetail[0].address.city%>,</h5>
														<h5><%= selectedOrder[0].currentAddressDetail[0].address.street%>,</h5>
														<h5><%= selectedOrder[0].currentAddressDetail[0].address.landMark%></h5>
														<h5><%= selectedOrder[0].currentAddressDetail[0].address.pin%>,</h5>
													<% }else{ %>
														<h5>N address found</h5>
													<% } %>
												</div>
											</div>
											<div class="order-Status" style="padding-left: 70px;padding-top:90px">
											<h6 style="margin-left: 65px;">(<%=selectedOrder[0].currentStatus%>)</h6>
											</div>
										
									</div>
									
									<div class="show">
										 <a href="/orders" class="showMore btn btn-info">Go Back</a>
									</div>
									<div class="show">
										<a href="" class=" btn btn-success" id="invDownload" onclick="downloadInvoice(event)" >Download Invoice</a>
								   </div>
								</div>
						<!-- first modal for conformation -->
					<div id="conformModal-<%= selectedOrder[0]._id %>" class="modal">
						<div class="modal-content">
							<span id="conformModalClose" class="close">&times;</span>
							<div class="modal-style">
								<div class="modal-text" >
									<p>Are you sure for cancelling the order?</p>
								</div>
								<div style="display: flex;">
									<a href="#" class="conformCancelOrder" orderId="<%= selectedOrder[0]._id %>"><h3>Yes</h3></a>
									 <a href="/orders" style="padding-left: 25px;"><h3>No</h3></a>
								</div>
							</div>
						</div>
				    </div>
		
		  </div>



		  <div id="Conform2Modal" class="modal">
			<div class="modal-content">
				<span id="conform2ModalClose" class="close">&times;</span>
				<div class="modal-style">
					<div class="modal-text" >
						<p>Order cancelled successfully</p>
					</div>
				</div>
			</div>
		</div>

	</section> <!--/#cart_items-->

	<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
				</div>
			</div>
		</div>
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Get the most recent updates from <br />our site and be updated your self...</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
				</div>
			</div>
		</div>
	</footer><!--/Footer-->

    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
	<script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>

    <!-- for cancelling the order -->
<!-- <script>
	const invDownload = document.getElementById("invDownload");
	invDownload.addEventListener("click",function(event){
		event.preventDefault();
		const selectedOrder = <%-JSON.stringify(selectedOrder) %>;
		console.log("selected order form script is ",selectedOrder);

		$.ajax({
			type:'POST',
			url:'/invoiceDownload',
			data:{
				selectedOrder
			},
			success:function(response){
				console.log("enterd in hte front end ");
				console.log("pdf file is ",response.file);
				let fileData = atob(response.file);
				let pdfFile = new Blob([fileData], {type: 'application/pdf'});
				let link = document.createElement('a');
				link.href = URL.createObjectURL(pdfFile);
				link.download = 'invoice.pdf';
				link.click();

			},
			error:function(error){
				console.log("error occured !!",error);
			}
		})

	})
</script> -->

<script>
  function downloadInvoice(event){
	event.preventDefault();
	 const selectedOrder = <%- JSON.stringify(selectedOrder) %>;
     console.log("selected prodcut:",selectedOrder);

	 let data = {
        apiKey: "free", // Please register to receive a production apiKey: https://app.budgetinvoice.com/register
        mode: "development", // Production or development, defaults to production
        products: [
            {
              
                quantity: selectedOrder[0].products.quantity,
                description: selectedOrder[0].productDetails[0].name,
				taxRate: 6,
                price: selectedOrder[0].productDetails[0].offerPrice
            }
        ]
    };

    easyinvoice.createInvoice(data, function (result) {
        // The response will contain a base64 encoded PDF file
        console.log('PDF base64 string: ', result.pdf);

        // Now this result can be used to save, download or render your invoice
        // Please review the documentation below on how to do this
		 easyinvoice.download("invoice.pdf");
    });
  }
</script>

</body>
</html>