<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Home | E-Shopper</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/prettyPhoto.css" rel="stylesheet">
        <link href="/css/price-range.css" rel="stylesheet">
        <link href="/css/animate.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
        <link href="/css/responsive.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->       
        <link rel="shortcut icon" href="images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>

		<style>
			.xzoom-thumbs img {
				display: inline-block;
				height: 80px;
				width: 80px;
				border: 1px solid #ccc;
			}
		
			.zoomed-image-container {
				display: none; /* Initially hide the container */
				position: absolute;
				top: 0;
				left: 100%; /* Position to the right of the main image */
				margin-left: 10px; /* Add some spacing */
				width: 80px; /* Adjust the width as needed */
			}
			.pro-row{
				display: flex;
			}
		</style>
		


    </head><!--/head-->

<body>
	
	<header id="header"><!--header-->
	
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><img src="../images/home/logo.png" alt="" /></a>
						</div>
						
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="/getAccount"><i class="fa fa-user"></i> Account</a></li>
								<li><a href="/getWishlist"><i class="fa fa-star"></i> Wishlist</a></li>
								<li><a href="/getCheckout"><i class="fa fa-crosshairs"></i> Checkout</a></li>
								<li><a href="/getCart"><i class="fa fa-shopping-cart"></i> Cart</a></li>
								<li>
									<form action="/logout" method="post">
										<button type="submit" class="btn btn-default">Logout</button>
								    </form>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/" >Home</a></li>
								<li><a href="/shop" class="active">Shop</a></li> 
							
								
								<li><a href="/contact">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	
	<section>
		<div class="container">
			<div class="row">
			
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center"><%= productData.productName%></h2>
                    </div>
				</div>
			</div>					
				

   
		    
			<div class="pro-row">
				<div class="col-sm-1">

					<div class="xzoom-thumbs">
						<% for(let i = 0 ; i < productData.image.length ; i++){ %>
							<div>
								<a href="" data-index="<%= i %>">
									<img class="xzoom-gallery" src="/views/productImages/<%= productData.image[i]%>" alt="">
								</a>
	
							</div>
						
						<%}%>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="col-sm-12">
						<div class="product-image-wrapper">
							<div class="single-products">
									<div class="productinfo text-center">
									
										<div  id="xzoom-default">
											<img src="/views/productImages/<%= productData.image[0]%>" alt="" id="zoom-image">
										</div>
									</div>
							</div>
						</div>
					</div>
				</div> 
					
					<div class="col-sm-4" >
						<p><%=productData.discription%></p>
						<h4>₹<%=productData.price%></h4>
						<div>
                            <label for="">Quantity</label>
							<input  type="number" id="quantity" style="width: 50px;">
						</div>
						
						<a href="/addToCart/<%=productData._id%>" class="btn btn-default add-to-cart" ><i class="fa fa-shopping-cart"></i>Add to cart</a>
						<a href="#" class="btn btn-default add-to-cart" onclick="buyNow('<%=productData._id%>')" >Buy Now</a>

					</div>
				</div>
				
			</div>
		</div>
	</section>
	
	<footer id="footer"><!--Footer-->
		
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Get the most recent updates from <br />our site and be updated your self...</p>
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2013 BoysWorld Inc. All rights reserved.</p>
					
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->

    <script src="../js/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/jquery.scrollUp.min.js"></script>
	<script src="../js/price-range.js"></script>
    <script src="../js/jquery.prettyPhoto.js"></script>
    <script src="../js/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>

    <script>
		$(document).ready(function () {
			// Initialize the xZoom on the xzoom-default element
			$('#xzoom-default').zoom({
				touch: false,
				zoomLevel: 50,
			});

			function initializeZoom() {
				$('#xzoom-default').zoom({
				  touch: false,
				  zoomLevel: 50,
				});
			  }
	
			// Add a click event to the thumbnails in xzoom-thumbs
			$('.xzoom-thumbs a').on('click', function (e) {
				e.preventDefault(); // Prevent the default click behavior
	
				// Get the index of the clicked thumbnail
				var index = $(this).data('index');
				var productData = <%- JSON.stringify(productData)%>;
			   
				// Update the src attribute of the xzoom-default image
				$('#xzoom-default img').attr('src', '/views/productImages/' + productData.image[index]);
				initializeZoom();
			});
	
			// Add a mouseenter event to display the zoomed image container
			$('#xzoom-default').on('mouseenter', function () {
				$('#zoomed-image-container').show();
			});
	
			// Add a mouseleave event to hide the zoomed image container
			$('#xzoom-default').on('mouseleave', function () {
				$('#zoomed-image-container').hide();
			});
		});
	</script>

	<script>
		function buyNow(productId) {
			// Get the quantity from the input field
			var quantity = document.getElementById('quantity').value;
			if(quantity ==='' || quantity <= 0){
				quantity = 1;
			}
			console.log(quantity);
	
			// Call a function to store the product details in the cookie
			storeProductInCookie(productId, quantity);
	
			// Redirect to the checkout page
			window.location.href = "/getCheckout?productId=" + productId + "&quantity=" + quantity;

		}
	
		function storeProductInCookie(productId, quantity) {
			const productDetails = {
				id: productId,
				quantity: quantity
			};
			document.cookie = `productDetails=${JSON.stringify(productDetails)}; path=/`;
		}
	</script>
	
   
	


</body>
</html>