<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	<style>
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .pagination a {
            padding: 8px 16px;
            text-decoration: none;
            color: #333;
            background-color: #f2f2f2;
            border: 1px solid #ddd;
            margin: 0 4px;
            border-radius: 4px;
        }

        .pagination a:hover {
            background-color: #ddd;
        }

        .pagination .current {
            background-color: #4CAF50;
            color: white;
        }
		.pagination a[disabled] {
			pointer-events: none;
			color: #999; /* Change the color to indicate a disabled state */
			cursor: not-allowed;
			text-decoration: none;
		}
	
		.pagination a[disabled]:hover {
			background-color: initial;
		}
		.pagination .page.highlighted {
			background-color: #e69927;
			color: white;
			/* Add any additional styling for the highlighted state */
		}
		.dropdown-container {
			display: none;
		 }
		 .search-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;

		 }

		 /*for search */
		 .search-container form {
			display: flex;
			border: 1px solid grey;
			padding: 1px;
			margin-right: 8px;
		   }
		   
		   .search-container input {
			flex-grow: 2;
			border: none;
		   }
		   
		   .search-container input:focus {
			outline: none;
		   }
		   
		   .search-container button {
			border: 1px solid rgb(228, 125, 35);
			background: rgb(228, 125, 35);
			color: white;
		   }
           .filterButton{
			  margin-left: 10px;
		   }
		   #clear-btn{
			 margin-right: 8px;
		   }
		 .section{
			justify-content: center;
			align-items: center;
		 }

		 .productDiv{
			height: 660px;
		 }
		 .product-image-wrapper{
			height: 660px;
		 }
		 .single-products{
			height: 597px;

		 }
		 
    </style>

</head>
<body>
	<header id="header"><!--header-->
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><img src="images/home/logo.png" alt="" /></a>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="/getAccount"><i class="fa fa-user"></i> Account</a></li>
								<!-- <li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
								<li><a href="#"><i class="fa fa-crosshairs"></i> Checkout</a></li> -->
								<li>
									<a href="/getCart" >
										<div class="cart-icon-container">
											<i class="fa fa-shopping-cart"></i>
											<% if(Currentuser[0].cart ){ %>
												<span id="cartCounter">Cart(<%=Currentuser[0].cart.length%>)</span>

											<% } %>
										</div>
									</a>
								</li>
								<li>
									<form action="/logout" method="post">
										<button type="submit" class="btn btn-danger">Logout</button>
								    </form>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/" >Home</a></li>
								<li><a href="/shop" class="active">Shop</a></li> 
								<li><a href="/contact">Contact</a></li>
							</ul>
						</div>
					</div>
				
					<div class="col-sm-3">
						<div class=" pull-right">
							<div class="search-container">
								<!-- search  -->
								<div class="search-container">
									<form action="/getShopBySearch" method="GET">
										<% if(searchProduct != "") { %>
											<input type="search" id="searchInput" name="searchProduct" value="<%=searchProduct%>" />
										<% }else{ %>
											<input type="search" id="searchInput" name="searchProduct" placeholder="Search" />
										<% } %>
										<button id="searchButton" type="submit">
										<i class="fa fa-search"></i>
										</button>
									</form>
									<button id="clear-btn" type="button">Clear</button>


								</div>
								 <!--  -->
								<button id="filterButton" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
								 Filter with Price
								 <i class="fa fa-filter"></i>
								 <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="filterButton">
								 <li role="presentation"><a role="menuitem" tabindex="-1" href="/getShopWithPriceRange?price1=500&price2=1000">₹500 - ₹1000</a></li>
								 <li role="presentation"><a role="menuitem" tabindex="-1" href="/getShopWithPriceRange?price1=1000&price2=1500">₹1000 - ₹1500</a></li>
								 <li role="presentation"><a role="menuitem" tabindex="-1" href="/getShopWithPriceRange?price1=1500&price2=2000">₹1500 - ₹2000</a></li>
								 <li role="presentation"><a role="menuitem" tabindex="-1" href="/getShopWithPriceRange?price1=2000&price2=2500">₹2000 - ₹2500</a></li>
								 <!-- Add more price ranges as needed -->
								</ul>
							 </div>
						</div>
					</div>
				</div>
			</div>

		
		
		</div><!--/header-bottom-->
	</header><!--/header-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
					    <% for(const cat of category){ %>
						<div class="panel-group category-products categorySelect" id="accordian" data-categoryId="<%=cat._id%>">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a  class="category-link" data-categoryId="<%=cat._id%>" href="#" class="categorySelect">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											<%=cat.name%>
										</a>	
									</h4>	
								</div>		
							</div>		
						</div>	
						<%}%>
					</div>	
				</div>		
				<div class="col-sm-9 padding-right">
					<div id="product-container" class="features_items"></div>
					<div class="features_items" id="feature">
						<!--features_items-->
						<h2 class="title text-center">Features Items</h2>
						<% if(product.length > 0) {%>

								<% for(const pro of product){ %>

									<% let categoryOffer = pro.categoryDetails[0].offer %>
									<% let offerPrice = pro.offerPrice %>
									<% let productPrice = pro.price %>

									<div class="productDiv col-sm-4" id="data">
										<div class="product-image-wrapper">
										<div class="single-products" id="single-porduct">
											<div class="productinfo text-center">
												<img src="/views/productImages/<%= pro.image[0]%>" alt="" height="400px" width="100px" style="object-fit: cover;">
												<h5 style="color: #e69927;"><%= pro.name %></h5>

												<% if(pro.stock == 0){ %>
													<h6 style="color: red;">Out Of Stock!!</h6>
												<% } %>


												<% if(categoryOffer  != 0){ %>
                                                    <% let totalOffer = pro.offer + categoryOffer %>
													<% let newPrice = productPrice - ((totalOffer/100)*productPrice) %>
													<% if(newPrice < 0){ %>
													<%	newPrice = 0;  %>
													<% } %>
													<h6>(<%=pro.offer +categoryOffer %>% off)</h6>
													<h5><del>₹<%= pro.price %></del></h5>
													<h5><b>₹<%= newPrice %></b></h5>


												<% }else{ %>
														
														<% if(pro.offer > 0){ %>
															<h6>(<%=pro.offer%>% off)</h6>
															<h5><del>₹<%= pro.price %></del></h5>
															<h5><b>₹<%= pro.offerPrice %></b></h5>
														<% } else{ %>
															<h6>(No Offer Available)</h6>
															<h5>₹<%= pro.price %></h5>
														<% } %>

											  <%	} %>


												<p><%=pro.discription%></p>
												<p><%=pro._id%></p>
												<a href="/selectedProduct/<%=pro._id%>" class="btn btn-default add-to-cart">Buy Now</a>
											</div>
										</div>
										<div class="choose">
											<ul class="nav nav-pills nav-justified">
												<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
												<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
											</ul>
										</div>
									</div>
								</div>
								<%}%>
							<% }  else {%>
								<h5>No Products Found !!</h5>
							<% } %>
					</div><!--features_items-->
					<div class="pagination" id="paginationDiv">

						<!-- previous  -->
						<% if(currentPage > 1){ %>
						    <a href="?page=<%= currentPage - 1 %>" class="prev" id="prevPage" page="-1">Previous</a>
						<% } else { %>
							<a class="prev" id="prevPage" page="-1" disabled>Previous</a>
						<% } %>
                        <!--  -->
                         
						<!-- page 1  -->
						<% if(currentPage <= totalPages+1){ %>
						<% if (currentPage == 1) { %>
							<a href="?page=1" class="page highlighted" page="1" id="page-1">1</a>
						<% } else { %>
							<a href="?page=1" class="page" page="1" id="page-1">1</a>
						<% } %>
						<% } %>
                        <!--  -->

						<!-- page 2  -->
						<% if(currentPage <= totalPages+1){ %>
						<% if (currentPage == 2 ) { %>
							<a href="?page=2" class="page highlighted" page="2" id="page-2">2</a>
						<% } else { %>
							<a href="?page=2" class="page" page="2" id="page-2">2</a>
						<% } %>
						<% } %>
						<!--  -->

						<!-- pages 3  -->
						<% if (currentPage <= totalPages+1 ){ %>
							<%  if (currentPage == 3) { %>
								<a href="?page=3" class="page highlighted" page="3" id="page-3">3</a>
							<% } else { %>
								<a href="?page=3" class="page" page="3" id="page-3">3</a>
							<% } %>
						<% } %>
						<!--  -->

						<!-- page 4 -->
						
						<% if(currentPage <= totalPages+1){ %>
						<% if (currentPage == 4) { %>
							<a href="?page=4" class="page highlighted" page="4" id="page-4">4</a>
						<% } else { %>
							<a href="?page=4" class="page" page="4" id="page-4">4</a>
						<% } %>
						<% } %>
						<!--  -->

						<!-- Add more pages if needed -->
						<% if(currentPage < 4){ %>
							<a href="?page=<%= currentPage + 1 %>" class="next" id="nextPage" page="1">Next</a>
						<% } %>
					</div>
					</div>
			    </div>
			</div>
		</div>
	</section>
	<footer id="footer"><!--Footer-->
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Get the most recent updates from <br />our site and be updated your self...</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2013 BoysWorld Inc. All rights reserved.</p>
				</div>
			</div>
		</div>
	</footer><!--/Footer-->
    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			const clearBtn = document.getElementById("clear-btn");
			clearBtn.addEventListener("click", function() {
				window.location.href = '/shop';
			})
		})
	</script>
	<script>
		document.addEventListener("DOMContentLoaded",function(){
			const selectedCategory = document.querySelectorAll(".categorySelect");
			Array.from(selectedCategory).forEach((selectedCategory,i)=>{
				selectedCategory.addEventListener("click",function(event){
						event.preventDefault();
						const categoryId = this.getAttribute("data-categoryId");
						updateCategoryProduct(categoryId);
				})
			})
			function updateCategoryProduct(categoryId){
                $.ajax({
					type:'POST',
					url:'/categoryBasedProduct',
					data:{
						categoryId
					},
					success:function(response){
					    if (response && response.product && response.category) {
							const productContainer = document.getElementById('feature');
							const feature = document.getElementById('feature');
							productContainer.innerHTML = '';
							let productHTML = '';
							response.product.forEach((pro) => {
								productHTML += `
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/views/productImages/${pro.image[0]}" alt="" height="400px" width="100px" style="object-fit: cover;">
													<h5 style="color: #e69927;">${pro.name}</h5>
													<h5>₹${ pro.price }</h5>
													<p>${pro.discription}</p>
													<a href="/selectedProduct/${pro._id}" class="btn btn-default add-to-cart">Buy Now</a>
													<a href="/addToCart/${pro._id}" class="btn btn-default add-to-cart buy-now-btn" data-product-id="${pro._id}"  data-image="/views/productImages/${pro.image[1]}">Add to Cart</a>
												</div>
											</div>
										</div>
									</div>`;
								productContainer.innerHTML = productHTML;
							});
						} else {
							console.error('Invalid response format');
						}
					},
					error:function(err){
						console.log("error getting product based on category");
					}
				})
			}
		})
	</script>

	<script>
		document.addEventListener("DOMContentLoaded",function(){
            const productDiv = document.getElementById("paginationDiv");
			const product = <%-JSON.stringify(product) %>;
			if(product.length == 0){
                productDiv.style.display = "none";
			}

            const page1 = document.getElementById("page-1");
			const page2 = document.getElementById("page-2");
			const page3 = document.getElementById("page-3");
			const page4 = document.getElementById("page-4");

			const totalPages = <%- JSON.stringify(totalPages) %>;
			console.log("totalpages:",totalPages);
			if( totalPages <= 2 ){
			
				page3.style.display = "none";
				page4.style.display = "none";
			}
			if(totalPages <= 3){
			
				page4.style.display = "none";
			}
			
			

			const prevew = document.querySelectorAll(".page");
			const prevPage = document.getElementById("prevPage");
			const nextPage = document.getElementById("nextPage");

           Array.from(prevew).forEach((selectedPage,i)=>{
				selectedPage.addEventListener("click",function(event){
					event.preventDefault();
					const pageNumber = this.getAttribute("page");
					console.log(pageNumber);
					const newUrl = `/shop?page=${pageNumber}`;
					window.location.href = newUrl

				})
			})

			nextPage.addEventListener("click",function(event){
				event.preventDefault();
				const pageNumber2 = this.getAttribute("page")
				const pageNumber = parseInt(pageNumber2) + 1;
				console.log("pageNumber:",pageNumber);
				const newUrl = `/shop?page=${pageNumber}`;
				window.location.href = newUrl
			})

			prevPage.addEventListener("click",function(event){
				event.preventDefault();
				const pageNumber = this.getAttribute("page");
				console.log(pageNumber);
				const newUrl = `/shop?page=${pageNumber}`;
				window.location.href = newUrl
			})
		})
	</script>

	<!-- disable the out of stock product  -->
	<script>
		document.addEventListener("DOMContentLoaded",function(){
			
			const addToCart = document.querySelectorAll(".addToCart");
			const product = <%- JSON.stringify(product) %>;
			addToCart.forEach((addToCart,i)=>{
				if( product[i].stock == 0){
					addToCart.style.pointerEvents = "none";
					addToCart.style.opacity = "0.5";
					addToCart.setAttribute('tabindex','-1');
				}
			})
		})
	</script>
	<!-- open the dropdown modal  -->
	<script>
		 $(document).ready(function(){
			$("#filterButton").click(function(){
			  $(".dropdown-menu").toggle();
			});
		   });
	</script>
</body>
</html>