<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	<style>
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .pagination a {
            padding: 8px 16px;
            text-decoration: none;
            color: #333;
            background-color: #f2f2f2;
            border: 1px solid #ddd;
            margin: 0 4px;
            border-radius: 4px;
        }

        .pagination a:hover {
            background-color: #ddd;
        }

        .pagination .current {
            background-color: #4CAF50;
            color: white;
        }
		.pagination a[disabled] {
			pointer-events: none;
			color: #999; /* Change the color to indicate a disabled state */
			cursor: not-allowed;
			text-decoration: none;
		}
	
		.pagination a[disabled]:hover {
			background-color: initial;
		}
    </style>
</head>
<body>
	<header id="header"><!--header-->
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><img src="images/home/logo.png" alt="" /></a>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="/getAccount"><i class="fa fa-user"></i> Account</a></li>
								<!-- <li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
								<li><a href="#"><i class="fa fa-crosshairs"></i> Checkout</a></li> -->
								<li>
									<a href="/getCart" >
										<div class="cart-icon-container">
											<i class="fa fa-shopping-cart"></i>
											<span id="cartCounter">Cart(<%=Currentuser.cart.length%>)</span>
										</div>
									</a>								</li>
								<li>
									<form action="/logout" method="post">
										<button type="submit" class="btn btn-default">Logout</button>
								    </form>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/" >Home</a></li>
								<li><a href="/shop" class="active">Shop</a></li> 
								<li><a href="/contact">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
					    <% for(const cat of category){ %>
						<div class="panel-group category-products categorySelect" id="accordian" data-categoryId="<%=cat._id%>">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a  class="category-link" data-categoryId="<%=cat._id%>" href="#" class="categorySelect">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											<%=cat.categoryName%>
										</a>	
									</h4>	
								</div>		
							</div>		
						</div>	
						<%}%>
					</div>	
				</div>		
				<div class="col-sm-9 padding-right">
					<div id="product-container" class="features_items"></div>
					<div class="features_items" id="feature">
						<!--features_items-->
						<h2 class="title text-center">Features Items</h2>
						<% for(const pro of product){ %>
                             <div class="col-sm-4" id="data">
                                <div class="product-image-wrapper">
								<div class="single-products" id="single-porduct">
									<div class="productinfo text-center">
										<img src="/views/productImages/<%= pro.image[1]%>" alt="" height="400px" width="100px" style="object-fit: cover;">
										<p><%=pro.discription%></p>
										<a href="/selectedProduct/<%=pro._id%>" class="btn btn-default add-to-cart">Buy Now</a>
										<a href="/addToCart/<%=pro._id%>" class="btn btn-default add-to-cart buy-now-btn" data-product-id="<%=pro._id%>"  data-image="/views/productImages/<%=pro.image[1]%>">Add to Cart</a>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
						<%}%>
					</div><!--features_items-->
					
					<div class="pagination">
						<% if(currentPage > 1){ %>
						    <a href="?page=<%= currentPage - 1 %>" class="prev">Previous</a>
						<% } else { %>
							<a class="prev" disabled>Previous</a>
						<% } %>
						<a href="#" class="page">1</a>
						<a href="#" class="page">2</a>
						<a href="#" class="page">3</a>
						<a href="#" class="page">4</a>
						<!-- Add more pages as needed -->
						<% if(currentPage < 4){ %>
							<a href="?page=<%= currentPage + 1 %>" class="next">Next</a>
						<% } %>
					</div>
					

					</div>
			    </div>
			</div>
		</div>
	</section>
	<footer id="footer"><!--Footer-->
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Get the most recent updates from <br />our site and be updated your self...</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2013 BoysWorld Inc. All rights reserved.</p>
				</div>
			</div>
		</div>
	</footer><!--/Footer-->
    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded",function(){
			const selectedCategory = document.querySelectorAll(".categorySelect");
			Array.from(selectedCategory).forEach((selectedCategory,i)=>{
				selectedCategory.addEventListener("click",function(event){
						event.preventDefault();
						const categoryId = this.getAttribute("data-categoryId");
						updateCategoryProduct(categoryId);
				})
			})
			function updateCategoryProduct(categoryId){
                $.ajax({
					type:'POST',
					url:'/categoryBasedProduct',
					data:{
						categoryId
					},
					success:function(response){
					    if (response && response.product && response.category) {
							const productContainer = document.getElementById('feature');
							const feature = document.getElementById('feature');
							productContainer.innerHTML = '';
							let productHTML = '';
							response.product.forEach((pro) => {
								productHTML += `
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/views/productImages/${pro.image[1]}" alt="" height="400px" width="100px" style="object-fit: cover;">
													<p>${pro.discription}</p>
													<a href="/selectedProduct/${pro._id}" class="btn btn-default add-to-cart">Buy Now</a>
													<a href="/addToCart/${pro._id}" class="btn btn-default add-to-cart buy-now-btn" data-product-id="${pro._id}"  data-image="/views/productImages/${pro.image[1]}">Add to Cart</a>
												</div>
											</div>
										</div>
									</div>`;
								productContainer.innerHTML = productHTML;
							});
						} else {
							console.error('Invalid response format');
						}
					},
					error:function(err){
						console.log("error getting product based on category");
					}
				})
			}
		})
	</script>
</body>
</html>