<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cart | E-Shopper</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/price-range.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	<style>
	       .table-row{
		
			box-sizing: border-box;
			
			
		   }
	</style>
</head><!--/head-->

<body>
	<header id="header"><!--header-->
		
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><img src="images/home/logo.png" alt="" /></a>
						</div>
						
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="/getAccount"><i class="fa fa-user"></i> Account</a></li>
								<li><a href="/getWishlist"><i class="fa fa-star"></i> Wishlist</a></li>
								<li><a href="/getcheckout"><i class="fa fa-crosshairs"></i> Checkout</a></li>
								<li><a href="/getCart" class="active"><i class="fa fa-shopping-cart"></i> Cart</a></li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/">Home</a></li>
								<li ><a href="/shop">Shop</i></a>
                                    
                                </li> 
								
								
								<li><a href="/contact">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->

	<section id="cart_items">
		<div class="container">
			
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr >
							<td class="image">Default</td>
						</tr>
					</thead>
					<tbody>
						<% for(let i = 0 ;i< currentAddress.length;i++) {%>

                        
                    <tr>
							<td class="cart_product">
								
								<h5><%= currentAddress[i].name%>,</h5>
								<h5> <%=  currentAddress[i].number %>,</h5>
								<h5><%= currentAddress[i].houseName%>,</h5>
								<h5><%= currentAddress[i].houseNumber%></h5>
								<h5> <%= currentAddress[i].state%>,</h5>
								<h5><%= currentAddress[i].city%>,</h5>
								<h5><%= currentAddress[i].street%>,</h5>
								<h5><%= currentAddress[i].landMark%></h5>
								<h5><%= currentAddress[i].pin%>,</h5>
									
									
							</td>
                                    
						
						</tr>
                   <% } %>
					</tbody>
				</table>

				<table class="table table-condensed">
					<thead>
						<tr >
							<td class="image">Address</td>
						</tr>
					</thead>
					<tbody>
						<% for(let i = 0 ;i< address.length;i++) {%>

					    
                        <tr class="table-row">
							
							
							
							<td class="cart_product">
								
								<h5><%= address[i].name%>,</h5>
								<h5> <%= address[i].number %>,</h5>
								<h5><%= address[i].houseName%>,</h5>
								<h5><%= address[i].houseNumber%></h5>
								<h5> <%= address[i].state%>,</h5>
								<h5><%= address[i].city%>,</h5>
								<h5><%= address[i].street%>,</h5>
								<h5><%= address[i].landMark%></h5>
								<h5><%= address[i].pin%>,</h5>
									
							</td>
                                    
						
							</td>
							<td class="cart_description">
								<h4><a href=""></a></h4>
								<a href=""><p>Edit</p></a>
							</td>
							
							<td class="cart_quantity">
								<div >
									<a href="/setDefaultAddress/<%=address[i]._id %>" ><h5>Set as Default</h5></a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price"></p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href="/addressDelete/<%= address[i]._id %>"><i class="fa fa-times"></i></a>
							</td>
						</tr>
						
                   <% } %>
					</tbody>
				</table>
				

			</div>
			<a href="/addAddress" class="btn btn-default add-to-cart">Add Address</a>
		</div>
	</section> <!--/#cart_items-->

	
	<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					
				</div>
			</div>
		</div>
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Get the most recent updates from <br />our site and be updated your self...</p>
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
	


    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
	
</body>
</html>