<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Star Admin2 </title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../adminpanel/vendors/feather/feather.css">
  <link rel="stylesheet" href="../adminpanel/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../adminpanel/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../adminpanel/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="../adminpanel/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="../adminpanel/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="../adminpanel/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="../adminpanel/js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../adminpanel/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../adminpanel/images/favicon.png" />
  <style>
    .chart-div{
      display: flex;
    }
    .btn {
      position: absolute;
      top: 50%; /* Adjust as needed */
      right: 0;
      transform: translateY(-40%);
      margin-right: 30px;
    }
    .card {
      background-color: rgba(255, 255, 255, 0.5);
     }
     
     .counter {
      font-size: 2em;
      transition: all 1s ease-in-out;
     }

     /* table */
     #table_div {
      margin: 0;
      padding: 0;
     }
     
     #table_div table {
      border-collapse: collapse;
      width: 100%;
     }
     
     #table_div th, #table_div td {
      border: 1px solid black;
      text-align: left;
      padding: 8px;
     }
  </style>
</head>
<body>
  <div class="container-scroller"> 
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div>
          <a class="navbar-brand brand-logo" href="index.html">
            <img src="../adminpanel/images/logo.png" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="index.html">
            <img src="../adminpanel/images/logo-mini.svg" alt="logo" />
          </a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top"> 
        <ul class="navbar-nav">
            <h1 class="welcome-text"><span class="text-black fw-bold">Admin</span>Panel</h1>
            <form action="/admin/logout" method="post">
              <button type="submit" name="logout" value="Logout" class="btn btn-danger">Log Out</button>
            </form>
        </ul>
      </div>
     
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link"  href="/admin/customers" >
              <i class="menu-icon mdi mdi-floor-plan"></i>
              <span class="menu-title">Customers</span>
              <i class="menu-arrow"></i> 
            </a>
            
          </li>
     
          <li class="nav-item">
            <a class="nav-link"  href="/admin/products"  >
              <i class="menu-icon mdi mdi-card-text-outline"></i>
              <span class="menu-title">Products</span>
              <i class="menu-arrow"></i>
            </a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/admin/categories" >
              <i class="menu-icon mdi mdi-chart-line"></i>
              <span class="menu-title">categories</span>
              <i class="menu-arrow"></i>
            </a>
           
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/admin/orders" >
              <i class="menu-icon mdi mdi-table"></i>
              <span class="menu-title">Orders</span>
              <i class="menu-arrow"></i>
            </a>
           
          </li>
           <li class="nav-item">
            <a class="nav-link"  href="/admin/salesReport" >
              <i class="menu-icon mdi mdi-layers-outline"></i>
              <span class="menu-title">Sales Report</span>
              <i class="menu-arrow"></i>
            </a>
          </li>

          <!--
          <li class="nav-item">
            <a class="nav-link"  href="discount.html" >
              <i class="menu-icon mdi mdi-account-circle-outline"></i>
              <span class="menu-title">Discounts</span>
              <i class="menu-arrow"></i>
            </a> -->
           
          <!-- </li>
          <form action="/admin/logout"  method="post">
          <li class="nav-item">
            <a class="nav-link"  href="discount.html" >
              <i class="menu-icon mdi mdi-account-circle-outline"></i>
              <span class="menu-title">Discount</span>
             
            </a>
          </form>
        </li>  -->
       
          
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-12">
              <div class="home-tab">
                
                <div class="tab-content tab-content-basic">
                  <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
                    
                     
                    <div class="row">
                      <div class="col-lg-12 d-flex flex-column">
                        <div class="row flex-grow">
                          <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="d-sm-flex justify-content-between align-items-start">
                                  <div>
                                    <h4 class="card-title card-title-dash">Market Overview</h4>
                                   <p class="card-subtitle card-subtitle-dash">Overall Analysis</p>
                                  </div>

                                  <div>
                                     
                                  </div>
                                </div>
                                <div class="d-sm-flex align-items-center mt-1 justify-content-between">
                                  <div class="d-sm-flex align-items-center mt-4 justify-content-between"><h2 class="me-2 fw-bold">$36,2531.00</h2><h4 class="me-2">USD</h4><h4 class="text-success">(+1.37%)</h4></div>
                                  <div class="me-3"><div id="marketing-overview-legend"></div></div>
                                </div>
                                <!-- div for getting user count , product count, category count  -->
                                <div class="row">
                                  <div class="col-md-4">
                                    <div class="card">
                                      <div class="card-body">
                                        <h5 class="card-title">Users</h5>
                                        <div id="usersCount" class="counter"></div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="card">
                                      <div class="card-body">
                                        <h5 class="card-title">Products</h5>
                                        <div id="productsCount" class="counter"></div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="card">
                                      <div class="card-body">
                                        <h5 class="card-title">Categories</h5>
                                        <div id="categoriesCount" class="counter"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <br>
                                <br>

                                 <!--  -->
                           
                                  <div class="chart-div">
                                      <div id="piechart" style="width: 900px; height: 500px;"></div>
                                      <div id="curve_chart" style="width: 900px; height: 500px"></div>
                                  </div>
                                  <h3>Products</h3>
                                  <div id="table_div"></div>
                               
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Fashion King<a href="/admin/dashboard" target="_blank">BoysWorld</a></span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="vendors/chart.js/Chart.min.js"></script>
  <script src="vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="vendors/progressbar.js/progressbar.min.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <script src="js/settings.js"></script>
  <script src="js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <script src="js/Chart.roundedBarCharts.js"></script>

  <!-- charts and graphs  -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <!-- for pie chart  -->
  <script>
    const shirtOrderCount = <%-JSON.stringify(shirtOrderCount)%>;
    const pantsOrdersCount = <%- JSON.stringify(pantsOrdersCount)%>;
    const tShirtOrdersCount = <%-JSON.stringify(tShirtOrdersCount) %>;

    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = google.visualization.arrayToDataTable([
        ['Task', 'Hours per Day'],
        ['Shirts',     shirtOrderCount],
        ['Pants',      pantsOrdersCount],
        ['T-shirts', tShirtOrdersCount],
        ['Jeans', 0],
       
      ]);

      var options = {
        title: 'Daily Orders'
      };

      var chart = new google.visualization.PieChart(document.getElementById('piechart'));

      chart.draw(data, options);
    }
  </script>

  <!-- for line chart  -->
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Year', 'Sales'],
        ['2004',  1000],
        ['2005',  1170],
        ['2006',  660],
        ['2007',  1030]
      ]);

      var options = {
        title: 'Yearly Performance',
        curveType: 'function',
        legend: { position: 'bottom' }
      };

      var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

      chart.draw(data, options);
    }
  </script>
  <!-- table for products  -->
  <script>
    const products = <%- JSON.stringify(uniqueProducts) %>;
    const name = products.productName;
    const price = products.price;
    const stock = products.stock;


    google.charts.load('current', {'packages':['table']});
    google.charts.setOnLoadCallback(drawTable);

    function drawTable() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Name');
      data.addColumn('number', 'Quantity');
      data.addColumn('number', 'Stock Left');
      for (var i = 0; i < products.length; i++) {
        data.addRow([products[i].productName, products[i].price, products[i].stock]);
      }
     

      var table = new google.visualization.Table(document.getElementById('table_div'));
      table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
    }
  </script>
  <!-- End custom js for this page-->
  <script>
    window.onload = function() {
      const products = <%- JSON.stringify(products) %>;
      const category = <%- JSON.stringify(category) %>;
      const users = <%- JSON.stringify(users) %>;
      var usersCount = document.getElementById('usersCount');
      var productsCount = document.getElementById('productsCount');
      var categoriesCount = document.getElementById('categoriesCount');
     
      // Replace these numbers with the actual counts
      var usersTotal = users.length;
      var productsTotal = products.length;
      var categoriesTotal = category.length;
     
      var usersCurrent = 0;
      var productsCurrent = 0;
      var categoriesCurrent = 0;
     
      var interval = setInterval(function() {
        if (usersCurrent < usersTotal) {
          usersCurrent++;
          usersCount.innerHTML = usersCurrent;
        } else if (productsCurrent < productsTotal) {
          productsCurrent++;
          productsCount.innerHTML = productsCurrent;
        } else if (categoriesCurrent < categoriesTotal) {
          categoriesCurrent++;
          categoriesCount.innerHTML = categoriesCurrent;
        } else {
          clearInterval(interval);
        }
      }, 100);
     };
  </script>
</body>

</html>

