<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Star Admin2 </title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../adminpanel/vendors/feather/feather.css">
  <link rel="stylesheet" href="../adminpanel/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../adminpanel/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../adminpanel/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="../adminpanel/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="../adminpanel/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="../adminpanel/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="../adminpanel/js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../adminpanel/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../adminpanel/images/favicon.png" />
  <style>
    .sales-report {
        width: 100%;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
       }
       
       .sales-report th, .sales-report td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
       }
       
       .sales-report tr:hover {background-color: #f5f5f5;}

       /* card style */
       .card-container {
        display: flex;
        justify-content: space-between;
       }
       
       .card {
        justify-content: center;
        flex: 1;
        margin: 10px;
        padding: 20px;
        box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
       }
        
      
       
       
  </style>
</head>
<body>
  <div class="container-scroller"> 
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div>
          <a class="navbar-brand brand-logo" href="index.html">
            <img src="../adminpanel/images/logo.png" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="index.html">
            <img src="../adminpanel/images/logo-mini.svg" alt="logo" />
          </a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top"> 
        <ul class="navbar-nav">
          <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
            <h1 class="welcome-text"><span class="text-black fw-bold">Admin</span>Panel</h1>
           
          </li>
        </ul>
        <div class="navbar-menu-wrapper d-flex align-items-top"> 
          <form action="/admin/logout" method="post">
            <input type="submit" name="logout" value="Logout">
          </form>
          </div>
      </div>
     
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link"  href="/admin/customers" >
              <i class="menu-icon mdi mdi-floor-plan"></i>
              <span class="menu-title">Customers</span>
              <i class="menu-arrow"></i> 
            </a>
            
          </li>
     
          <li class="nav-item">
            <a class="nav-link"  href="/admin/products"  >
              <i class="menu-icon mdi mdi-card-text-outline"></i>
              <span class="menu-title">Products</span>
              <i class="menu-arrow"></i>
            </a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/admin/categories" >
              <i class="menu-icon mdi mdi-chart-line"></i>
              <span class="menu-title">categories</span>
              <i class="menu-arrow"></i>
            </a>
           
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/admin/orders" >
              <i class="menu-icon mdi mdi-table"></i>
              <span class="menu-title">Orders</span>
              <i class="menu-arrow"></i>
            </a>
           
          </li>
           <li class="nav-item">
            <a class="nav-link"  href="#" >
              <i class="menu-icon mdi mdi-layers-outline"></i>
              <span class="menu-title">Sales Report</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          
          <!--
          <li class="nav-item">
            <a class="nav-link"  href="discount.html" >
              <i class="menu-icon mdi mdi-account-circle-outline"></i>
              <span class="menu-title">Discounts</span>
              <i class="menu-arrow"></i>
            </a> -->
           
          <!-- </li>
          <form action="/admin/logout"  method="post">
          <li class="nav-item">
            <a class="nav-link"  href="discount.html" >
              <i class="menu-icon mdi mdi-account-circle-outline"></i>
              <span class="menu-title">Discount</span>
             
            </a>
          </form>
        </li>  -->
       
          
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-12">
              <div class="home-tab">
                
                <div class="tab-content tab-content-basic">
                  <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
                    
                     
                    <div class="row">
                      <div class="col-lg-12 d-flex flex-column">
                        <div class="row flex-grow">
                          <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                  <div>
                                    <h1 class="card-title ">Sales Report</h1>
                                  </div>
                                  <div class="card-container">
                                    <div class="card">
                                        <h3> Date</h3>
                                        <label for="">Select Date</label>
                                        <input type="text" id="datepicker">
                                        <br>
                                        <button class="btn btn-primary btn-sm" style="color: #ddd;width:30%" id="SalesReportByDate">Get Report</button>
                                    </div>
                                    <div class="card">
                                            <h3>Select from a range</h3>
                                            <label for="">Select Starting Date</label>
                                            <input type="text" id="datepicker2">
                                            <br>
                                            <label for="">Select Ending Date</label>
                                            <input type="text" id="datepicker3">
                                            <br>
                                            <br>
                                            <button class="btn btn-primary btn-sm" style="color: #ddd;width:30%" id="SalesReportByRange">Get Report</button>
                                    </div>
                                   </div>
                                   <div class="card">
                                         <h3>Yearly</h3>
                                         <label for="">Select Year</label>
                                         <select name="year3" id="year3">
                                         </select>
                                         <br>
                                         <button class="btn btn-primary btn-sm" style="color: #ddd;width:30%" id="SalesReportByYearly">Get Report</button>
                                   </div>
                                   
                                   <br>
                                   <br>
                                  <div class="chartjs-bar-wrapper mt-3">
                                    <table class="sales-report table table-condensed">
                                    <% if(orders){ %>
                                        <button class="btn  btn-success btn-sm" id="donBtn">DOWNLOAD</button>
                                  
                                        <thead>
                                          <tr>
                                            <th>Item ID</th>
                                            <th>Username</th>
                                            <th>Product Name</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Tax</th>
                                            <!-- Add other columns as needed -->
                                          </tr>
                                        </thead>
                                        <tbody>
                                            <% for(let i = 0; i < orders.length; i++) { %>
                                                <tr>
                                                  <td><%= orders[i].orderId %></td>
                                                  <td><%= orders[i].userDetails[0].name %></td>
                                                  <td><%= orders[i].productDetails[0].productName %></td>
                                                  <td><%= orders[i].productDetails[0].price %></td>
                                                  <td><%= orders[i].products.quantity %></td>
                                                  <!-- Render other order details here -->
                                                </tr>
                                              <% } %>
                                         </tbody>
                                       </table>
                                    <% }  else {%>
                                        <h4>No sales selected</h4>
                                    <% } %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
     
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="vendors/chart.js/Chart.min.js"></script>
  <script src="vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="vendors/progressbar.js/progressbar.min.js"></script>
  <!-- date picker ui  -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <script src="js/settings.js"></script>
  <script src="js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <script src="js/Chart.roundedBarCharts.js"></script>
  <!-- End custom js for this page-->

  <script> 
       document.addEventListener("DOMContentLoaded",function(){
         //date selection 
         $( "#datepicker" ).datepicker();
         $( "#datepicker2" ).datepicker();
         $( "#datepicker3" ).datepicker();
      

         //loading the years 
         var dates = document.getElementById("year3");
         for( var i = 2015; i <= 2024; i++){
            var opt = document.createElement("option");
            opt.value = i;
            opt.innerHTML = i ;
            dates.appendChild(opt);
         }
   
       })
  </script>
  <script>
       const reportByDate =  document.getElementById("SalesReportByDate");
       const reportByRange = document.getElementById("SalesReportByRange");
       const reportByYearly = document.getElementById("SalesReportByYearly");

            reportByDate.addEventListener("click",function(event){
                event.preventDefault();
                const date = document.getElementById("datepicker").value;
                console.log("date:",date);
                const newUrl = `/admin/salesReport?date=${date}`;
              window.location.href = newUrl
              })

              reportByRange.addEventListener("click",function(event){
                event.preventDefault();
                const firstDate = document.getElementById("datepicker2").value;
                const secondDate = document.getElementById("datepicker3").value;
                console.log("date:",firstDate,secondDate);
                const newUrl = `/admin/salesReport?firstDate=${firstDate}&secondDate=${secondDate}`;
              window.location.href = newUrl
              })

            reportByDate.addEventListener("click",function(event){
              event.preventDefault();
              const date = document.getElementById("datepicker").value;
              console.log("date:",date);
              const newUrl = `/admin/salesReport?date=${date}`;
            window.location.href = newUrl
            })
  </script>

  <script>
        const downloadBtn = document.getElementById("donBtn");
        downloadBtn.addEventListener("click",function(event){
            event.preventDefault();
            const ordersForDownload = <%- JSON.stringify(orders) %>;
            $.ajax({
                type: 'POST',
                url:'/admin/downloadSalesReport',
                data:{
                    orders:ordersForDownload
                },
                success:function(response){
                    if(response){
                        console.log("response reached frontend");
                    }
                },
                error:function(err){
                    console.error("error getting data in the frntend ",err);
                }
            })
        })
  </script>
</body>

</html>

